@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;500&display=swap");

.story-author {
  font-style: italic;
  text-align: right;
  font-size: 18px;
  color: rgb(53, 49, 49);
  font-family: "Raleway", sans-serif;
}

.story-title h1 {
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 5px;
  font-weight: 700;
}
