<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>A Secret Life of Couch Potatoes</h1>
    </section>
    <main>
      <p>
        The couch had been passively observing the world from the corner of the
        room for years. Yet as midnight came near, something strange began to
        occur. The protagonist's sluggish life is disrupted by a romantic
        dilemma. He spent much of his days lounging on his rickety sofa,
        binge-watching TV, and eating junk food. The fact that his friends and
        family had given up on him made him very happy.
      </p>

      <p>
        A few years ago, everything changed in a matter of seconds. The
        protagonist's new dear one, Emily, was introduced to him by his best
        friend, Peter. Emily loved yoga, hiking, and being outside in general.
        She was a free-spirited artist. They both of them clicked despite the
        fact she was Amir's complete opposite. Emily started wondering about
        Amir's unused lifestyle as both of them spent longer together. She'd
        take him to art galleries, yoga classes, and hikes.
      </p>

      <p>
        Amir first refused, but Emily's genuine enthusiasm eventually won him
        over. For the first time in years, Amir grew an appreciation for things
        that weren't dependent on a screen. His couch-potato feelings started
        disappearing as he began to see the world differently. Amir started to
        feel as if he was living a lie as he attempted to reconcile his newly
        acquired connection with his old behaviours.
      </p>

      <p>
        Despite Amir's underlying longing for the safety and comfort of his
        couch potato way of life, Emily thought he had changed. Emily found
        Amir's hidden stash of video games and junk food one day. She had been
        wounded. He had to decide recognizing that he couldn't keep living two
        lives. During their conversation, he opened up to Emily about his
        struggles. He was shocked by Emily's sympathy and compassion.
      </p>

      <p>
        "I love you for who you are, couch potato habits and all," she informed
        him. They worked together to reach a compromise. Amir discovered how to
        establish a balance between his newfound enthusiasm for outdoor
        activities and his desire for pleasure. Amir's connection with Emily
        taught him that it is acceptable to change and adapt. He learned that he
        could balance his old and new lives rather than having to choose between
        them.
      </p>

      <p>
        "Until I began to ingratiate myself with the cushions, I had always
        considered myself to be a bit of a couch potato."
      </p>

      <p class="story-author">Written by Jenate Esther Sheela | 22UEN612</p>

      <hr class="hr-4" />
    </main>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
