<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>Beyond the Mystery</h1>
    </section>
    <main>
      <p>
        A girl named Rabooma lives in a village, where everything is beautiful.
        The people, the mountain, the traditions, and the values they shared
        were all admirable. She completed her schooling in the village and
        wanted to take up history for her higher studies. She was so passionate
        and curious to learn more about everything she came across. She was the
        most adventurous girl the village had ever witnessed.
      </p>

      <p>
        The people in the village loved her as she spent so many hours with
        them. They used to tell her stories about forgotten culture and history.
        One story that everyone told her was about old people who never die. She
        had many questions: Where are they now? Did you see them? Are my
        great-grandparents still alive? Will you also go there? Or will I go
        there? But she had no answers.
      </p>

      <p>
        Years passed, and now she was ready to start college away from the
        village. She was full of hope and ready to explore. She was the second
        person to step out of the village for studies. Before her, Arnav had
        left for his job and never returned. The city was bright and filled with
        noise. She missed her village, filled with mesmerizing sounds of birds,
        trees, and rivers.
      </p>

      <p>
        One afternoon, after attending her classes, she was free to explore the
        library. Her eyes caught sight of a book called
        <em>"A Way Towards Eternity."</em> It reminded her of the childhood
        stories her villagers used to tell. Intrigued, she started reading. The
        book described ways to reach a hidden place with natural stone steps
        concealed in the hills. People passed by it daily, yet no one could see
        it. She felt a deep familiarity with the details.
      </p>

      <p>
        She continued reading, shocked by what she learned, but the last eight
        pages were missing. The book had last been taken by Arnav. Suspicious,
        she approached the librarian about the torn pages, but he was unaware.
        That night, she couldn’t sleep, wondering why Arnav was connected to
        this mystery and why he had never returned.
      </p>

      <p>
        Determined, she investigated Arnav’s past. Her search led her to Prof.
        Shaanu, Arnav’s former classmate. When Rabooma asked about him, a tear
        rolled down Shaanu’s cheek. After much convincing, Shaanu revealed a
        secret and told her, “If you want to meet Arnav, go to your village. If
        the hill wants, you’ll find the steps.”
      </p>

      <p>
        Unable to stay in the hostel, Rabooma rushed home. For two days, she and
        her friends searched the hills, following the clues from the book but
        found nothing. Then, she heard a familiar bird call. Following the
        sound, she parted long leaves and discovered a stone step—she had found
        it! Fearful yet determined, she believed Arnav was on the other side.
        Prof. Shaanu’s last words echoed in her mind:
        <strong>“Help him.”</strong>
      </p>

      <p>
        She stepped onto the mysterious path. Years passed, but no one ever
        heard from Rabooma again.
      </p>

      <p class="story-author">Written by Jebinsha J | 24PCP818</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
