<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story">
      <div class="story-title">
        <h1>Fear to Fame</h1>
      </div>
      <main>
        <p>
          A woman, determined to motivate the students, began sharing a story.
          “There was a girl named Yashika,” she said.
        </p>

        <p>
          Yashika was an innocent and talkative girl, friendly with everyone,
          but she had a secret fear—stage fright. One day, her professor asked
          Yashika to give a seminar, but she was terrified. She tried to avoid
          it, but her professor insisted. Yashika's fear of speaking in front of
          others, combined with her fear of speaking English and worrying about
          what her classmates would think, held her back.
        </p>

        <p>
          Her professor's parting words that day cut deep:
          <em
            >“You'll never pass the exam if you can't even give a seminar. How
            will you write the exam?”</em
          >
          Yashika felt hurt and cried, but those words stuck with her.
        </p>

        <p>
          A semester later, the same professor announced another seminar. This
          time, Yashika was determined to face her fears. She worked hard, day
          and night, to prepare. When the day arrived, she surprised everyone,
          including her professor, by being the first to give her seminar and
          finishing it confidently.
        </p>

        <p>
          Her professor was shocked and impressed.
          <em
            >“I spoke harshly to you earlier, but it seems that's what motivated
            you,”</em
          >
          she said.
          <em
            >"You did well, and I'm proud of you. You've changed my perception
            of you. Keep up the good work, and I'm sure you'll attend
            conferences within the next three years.”</em
          >
        </p>

        <p>
          Yashika smiled and thanked her professor. Through her hard work, she
          not only changed her professor's mindset but also discovered a
          newfound confidence within herself.
        </p>

        <p>
          The woman concluded,
          <em
            >“That girl, Yashika, is now a famous writer and speaker. But what's
            remarkable is that she overcame her fear of public speaking despite
            coming from a Tamil medium background. Her story teaches us that
            schooling is just a season, and it's what we learn in college that
            truly matters.”</em
          >
        </p>

        <p>
          And that Yashika is the woman who stood before the students, sharing
          her story with them.
        </p>

        <p><strong>The End</strong></p>

        <p class="story-author">Written by Madhumitha. A</p>

        <hr />
      </main>
    </section>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
