<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>The Forgotten Secret</h1>
    </section>
    <main>
      <p>
        Evelyn, fascinated by the old mansion, discovered a trunk in the attic
        with letters and a key. The letters, written by Chittu, reveal a secret
        love affair with another woman, hidden due to societal norms. As Evelyn
        read on, she felt a deep connection to Chittu's story.
      </p>

      <p>
        Using the key, she unlocked a hidden room, where she found Chittu's
        journals and belongings. Evelyn realized that Chittu's story was not
        just a forgotten secret, but a part of her history, a reminder of the
        struggles and triumphs of those who came before her.
      </p>

      <p>
        With this newfound understanding, Evelyn felt a sense of pride and
        responsibility to keep Chittu’s memory alive. And as she left the
        mansion, she knew that she would never forget the forgotten secret…
      </p>

      <p class="story-author">Written by Chidhambaram AR | 24UCO241</p>

      <hr class="hr-4" />
    </main>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
