<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>The Truth Beneath Lies</h1>
    </section>
    <main>
      <p>
        Aishu grew up in a seemingly perfect family, admired by the town for
        their flawless reputation. However, behind closed doors, she knew things
        weren’t as they seemed. Her parents’ marriage was strained, marked by
        late-night arguments and cold silences.
      </p>

      <p>
        One day, Aishu found a box of old letters from her mother to a man named
        Chidhambaram, revealing a past love and a painful affair that her mother
        had hidden to protect the family. When Aishu confronted her mother, she
        learned the truth: her mother had sacrificed her happiness for the sake
        of her marriage.
      </p>

      <p>
        Though the truth shattered the image of perfection Aishu had once
        believed in, it freed her from the lies. Aishu realized that honesty, no
        matter how painful, was the only way to truly move forward…
      </p>

      <p class="story-author">Written by Chidhambaram AR | 24UCO241</p>

      <hr class="hr-4" />
    </main>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
