<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>The Silent Burden</h1>
    </section>
    <main>
      <p>
        Hi, I am Rohan Varma; I am the kind of student a few people admired.
        Always with a book in hand, average in academics, and carrying the hopes
        of my family. My father always told me, “You are destined to be the
        greatest. We have sacrificed so much for you. You must lift our family
        next.” I had some academic achievements and failures, but behind those
        achievements lay an unseen burden.
      </p>

      <p>
        The fear of an uncertain future, the weight of my family’s debts, and
        loneliness made me suffer every day. My friends would use me when they
        needed me and then throw me away like waste. To reduce my loneliness, I
        started scrolling social media for long hours, which gave me temporary
        happiness. That scrolling soon turned into addiction.
      </p>

      <p>
        I had no one to share my feelings and problems with, no one to reduce my
        stress. Anxiety and depression slowly built around me. I was unable to
        apply for PG due to my low scores in entrance exams, as I was weak in
        Quants. I carried a silent burden in my heart.
      </p>

      <p>
        One evening, while preparing for my final semester exams, I felt
        something strange in my body. I thought it was due to long hours of
        study, so I decided to sleep and wake up early to study again. But after
        some hours, I woke up in a hospital. Everyone around me had sad faces.
        Then, I saw my own body lying motionless.
      </p>

      <p>
        The doctor spoke to my roommates and said that I had died. The cause of
        death, as written in the report, was “Heart attack due to depression and
        stress.”
      </p>

      <p>
        The news spread like wildfire. My parents were devastated, but my
        friends still didn’t care. Teachers spoke about my small achievements,
        but no one had ever noticed the silent burden I was carrying.
      </p>

      <p>
        Was it my fault that I should have spoken to someone voluntarily to
        resolve my problems? Or should others have recognized my struggles?
      </p>

      <blockquote>
        <p>
          “If you have a problem, meet a wise person, speak to them, and resolve
          it. If you find someone suffering from loneliness, depression, or
          anxiety, be their friend, motivate them, and help them see their
          worth. And lastly, discipline yourself.”
        </p>
      </blockquote>

      <p>
        Don’t waste your one life as I did by overthinking problems. Leave your
        burdens to God—He will take care of them. You have only one life, so
        live it to the fullest.
      </p>

      <p class="story-author">Written by Kevin Infant Benedict B (22UCR536)</p>
      <hr class="hr-4" />
    </main>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
