<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>Unknown Love</h1>
    </section>
    <main>
      <p>
        To a Mysterious Girl, My hands are just a millimetre from hers, if a
        thread's breadth could be measured then it’s that. The urge to touch
        her, hold her, feel her increase to the speed of the car. The cruellest
        part of love is knowing I'm but an option, never her choice. Every
        moment I saw her I hardly and hurtfully fell in love.
      </p>

      <p>
        When I was just a sheep among 99, I made her my only lost sheep. Amidst
        the crowd, she was the one lost star I wished to reclaim. Every little
        thing about her—was engraved into my mind, knowing it would haunt me for
        life. I became the afterthought in her world, the one she called only
        when needing solace from the love of another.
      </p>

      <p>
        I was but a dustbin for her pain, while she was the universe to me.
        Perhaps I exaggerate, but isn’t that the nature of love? When the sun
        sought to steal her warmth, I longed only to be her shadow, her eternal
        protector. Yet a voice within whispers, *She is not meant for you.* And
        still, the longing remains—an ache to know her more, to make her mine.
      </p>

      <p>
        She lies beside me, dreaming of a past love, unaware that the one who
        offers all his heart’s devotion stands ready to heal her wounds—even as
        my own heart bleeds. Her word was my only command. She is my forbidden
        love, my unrequited devotion. I was branded as cold, arrogant, and lost,
        and now I long only to bear her burdens.
      </p>

      <p>
        I was her moment of desire, while she is the essence of my love. A
        bitter truth remains: never love someone whose heart beats for another.
        To hear their love for someone else, each word like a shard in your
        chest. Waiting is a heart's silent agony.
      </p>

      <p>
        It was day end; weird and tired of roaming. I always wanted to sit in
        front while travelling just to get the view of roads and vehicles
        rushing down with lots of dreams and drama. But today it is different.
        My tired face gazed with shine by staring at her in the side mirror.
      </p>

      <p>
        The world slept and my mystery girl was saddened by her mysteries
        without even knowing that I could love her with all her flaws and
        mysteries. The more I tried to distance myself, the deeper my heart
        entwined with hers. People around me don't know what I feel or for whom
        I feel. I live in a world where I'm the only princess to love anyone I
        want.
      </p>

      <p>
        Love is a serious drug that I'm addicted to... I know there isn't any
        future or hope or not even love in return but still, I choose that. How
        foolishly wonderful is the heart's desire? There were moments I
        hesitated to answer, wearied by the constant sight of your name lighting
        up my screen. Yet now, your essence rules every second of my existence.
      </p>

      <p>
        My hands tremble with fear and desire to dial your number knowing that
        your heart might never echo mine. I long to find solace in another,
        hoping to cleanse my mind of your memories. Throughout my life, I was
        taught that love means letting people go, but that's not the love I
        crave.
      </p>

      <p>
        I want to hold you close, just for me, to demonstrate the lengths one
        can traverse for true love. After a day’s silence, seeing your name on
        my screen made my heart race with hope, though it was also tinged with
        the fear of rejection. We spoke about all the daily duties that you did
        but my heart whispered to ask you to speak your love for me.
      </p>

      <p>
        Maybe it's just me who fainted in your magical touch and you are just
        being you. In every possible universe, my love for you remains
        unwavering. Passing by the place where I first discovered the depths of
        affection, my gaze constantly sought you in every shadow and memory that
        lingered.
      </p>

      <p>
        I searched for you without knowing what I searched in you. My mind
        whispered that certain love is eternal; yet my heart retorted, that some
        scars too never fade. When every part of the Instagram reel reminds you
        of and you sent a waiting reel which was to be sent to the love of your
        life reassuring that you’re not my girl. Useless but wanting more.
      </p>

      <p>
        Every fibre of my being yearns to reach out to you, to touch the flame
        even though I'm certain it'll burn. I hate myself for wanting you so
        badly. It's not love, I'm certain, so why this fixation, this irrational
        hope of winning your heart? I'm just a distraction for you when I kept
        you as my concentration shot.
      </p>

      <p>
        The moment I saw you with your hair twinkling to and for your face I
        tried to imagine your face as the most disgusting and ugliest face I've
        ever seen but my mouth betrayed me by saying those words *"You look
        stunning".* I knew there was no spark when we first met, no silent
        whisper in my heart that you would become my Monica.
      </p>

      <p>
        The truth is, you don’t understand me when I’m low. You don’t see the
        way I see you. I laugh with you, but inside, I shout at myself for
        letting you have this hold over me. I could have been in an accident,
        rushing to drop you off, but why do I push myself to choose you above
        all, when I am but a shadow to you?
      </p>

      <p>
        I couldn't sleep, my skin burned with rashes, my father was in the
        hospital, undergoing angiography, and still, through it all, I longed to
        be with you. What am I telling myself? I clasp my hands together, trying
        to keep them from searching for your company. I dream of travelling this
        endless road with you, your grip steady, holding me tight.
      </p>

      <p>
        Even the bus handle feels the strength of my hold, bearing witness to
        how much I wish to never let you go. Each night, as we sleep on opposite
        sides, I dream of pulling you into my arms, feeling your breath against
        me, and kissing your forehead with a soft goodnight. But I wake from
        that dream to face the truth—you’re someone else's love, and I am but a
        thing in your world.
      </p>

      <p>
        I turn away, not wanting to see your back, not wishing to face the
        reality that you may never want to see me again. I’m terrified to show
        you my feelings, afraid you might think it’s all because I desire you.
        When your eyes dance like pendulums, swaying back and forth, and mine
        are caught in yours, I wonder if there’s a chance, I could glimpse the
        essence of what lies beneath your gaze.
      </p>

      <p>
        It all happened from that day which is a mistake from your side and
        sparkle from my side. I wish your side to win; though I lose heavily.
        Silently, I've chronicled every nuance of our story, with a flicker of
        hope that one day, presenting these pages to you might rekindle our past
        but at the end of the day I wish you to hold hands with the love of your
        life and you smashed my feel by blabbering about your love—a poignant
        reminder: *you were never meant for me.*
      </p>

      <p class="story-author">Written by Debora D. M.</p>

      <hr class="hr-4" />
    </main>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
