<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>When Silence Spoke</h1>
    </section>
    <main>
      <p>
        In a forest where ancient trees whispered secrets to the wind, a young
        girl named Riya lived in a world of silence. Her family were mute
        storytellers who conveyed emotions and tales through gestures and
        expressions. But as she approached her 17th name-day, Riya felt an
        inexplicable restlessness, as if the silence was awakening to a voice of
        its own.
      </p>

      <p>
        One evening, she stumbled upon a hidden clearing with an enormous,
        twisted tree at its center. The tree began to speak to her in a low,
        rumbling voice, shattering the silence and awakening a deep
        understanding within her. Its words told tales of the forest and its
        secrets, guiding her on her journey through the world.
      </p>

      <p>
        From that day on, Riya listened to the silence, and it spoke to her in a
        voice only she could hear.
      </p>

      <p class="story-author">Written by Chidhambaram AR | 24UCO241</p>

      <hr class="hr-4" />
    </main>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
