<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>When Hope Blossoms!</h1>
    </section>
    <main>
      <p>
        Anu stood by the window, watching spring's first flowers bloom. A year
        ago, her life had been filled with fear as her husband, Aman, battled a
        terminal illness. The doctors' prognosis had been grim, and the weight
        of uncertainty had nearly crushed her spirit.
      </p>

      <p>
        But now, as the sun kissed the earth and the flowers emerged, Aman was
        home, weaker but smiling. His strength was slowly returning, and so was
        hers. He limped over to her, his hand gently squeezing hers.
      </p>

      <p>
        "They're beautiful," he whispered, gazing out at the garden. Anu nodded;
        her eyes filled with unshed tears. "Yes, just like you."
      </p>

      <p>
        In that moment, Anu realized that despite the long winter of despair,
        hope had quietly begun to bloom once more. It was fragile, but it was
        there, and with it, they would face whatever the future held, one day at
        a time.
      </p>

      <p class="story-author">Written by Chidhambaram AR | 24UCO241</p>

      <hr class="hr-4" />
    </main>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
