<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/short story.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>Bench Friend</h1>
    </section>
    <main>
      <p>
        This topic gives a view about a person who has a friend on his/her
        bench. No, it’s not. This story takes a different perspective. Geetha is
        a girl with a kind heart and is very sensitive. She is pursuing an arts
        degree and is in her 3rd year at Bishop College. She is a hosteller, so
        she can’t visit her home as she wishes. The name Geetha gives the image
        of the Vallavan film Geetha. But in this story, Geetha is different. In
        her 3 years of college life, she has made many friends in her class and
        other departments, as she is a hosteller. Geetha is somewhat introverted
        and extroverted; she can be both. Because of her kind heart and
        sensitivity, she often has bad experiences with other people. She can’t
        express all her feelings to her family because she doesn’t want them to
        worry about her.
      </p>

      <p>
        Geetha always visits a place in college near her department—a stone
        bench surrounded by nature and fresh air. She often sits on the bench
        and speaks to nature and the bench. She has named the bench Adam
        because, in her view, the bench is the first and only thing that hears
        her sadness and happiness. She considers Adam her best friend and shares
        everything with it.
      </p>

      <p>
        On a fine day, as usual, she is talking to her friend Adam. Suddenly,
        the wind blows fast, and a strange voice calls her name, "Oh! Dear
        Geetha." Geetha gets afraid and replies, "Who is this?" The strange
        voice says, "I am your Adam, my friend." Geetha is surprised that the
        bench is speaking to her. She becomes very excited and starts talking
        with her friend Adam about what happened that day. The bench replies, "I
        know your pain, my dear. I hear your painful voice daily, and I am sure
        I will be your best friend to listen to all of it." Geetha feels relaxed
        because she now has a friend who listens to her.
      </p>

      <p>
        Adam says to Geetha, "Everyone comes and sits on me and just chats with
        their friends. Do you know, Geetha, most of them make me dirty and stick
        bubble gum on me? They never regret it. But I don’t care about these
        things because of the lovable man who cleans this place. He also cleans
        me. I love him for the way he takes care of me—it’s so unique. Lovers
        sit on me and dream about their future. Students during exam time sit on
        me to study and take breaks to eat something. During the holidays, the
        breeze and leaves from the tree fall on me. I consider the leaves as
        'weight without weight.' Sometimes, small children from nearby sit on
        me, eating snacks and waiting for their parents. Do you know, Geetha,
        waiting is a beautiful sign."
      </p>

      <p>
        Geetha replies, "Hmmm, your speech is so good." After a deep
        conversation between Geetha and Adam, Geetha’s classmate wakes her up
        and says, "We’re getting late for class." Then, she realizes it was a
        dream. Even though it was a dream, she remembers one thing from her
        friend Adam, who says in the dream, "No problem is complex unless we
        make it so. Problems arise, but the way we handle them makes all the
        difference. Positivity comes from our surroundings; no one can make us
        happy or positive unless we decide to be. Just as Adam found happiness
        in the falling leaves."
      </p>

      <p class="story-author">Written by JEFFRIN SEBA J</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
