<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/essay.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>
    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>A LEGACY OF LEARNING</h1>
    </section>
    <main>
      <p class="essay-content">
        Someone has said right that learning is something that takes place
        throughout our lives. Educational institutions like schools and colleges
        lay the foundation for the process of learning in one’s life. School
        memories consist of our childhood friends, lovable teachers, and the fun
        we had with our friends, and they undoubtedly remain unforgettable
        memories in one’s life. And after school-based education, we move
        towards getting ourselves enrolled in colleges. During this phase of
        life, we tend to be more responsible, and the campus life can be seen as
        more vibrant. Where every one of us strives to chase our dreams and to
        make cherishable memories. Campus life ensures to not restrict our
        learning to books alone and opens the windows to the various aspects of
        our lives.
      </p>

      <p class="essay-content">
        Campus life is the most important and priceless aspect of everyone’s
        life. This is the time when we not only enrich our academic skills but
        also contribute to making us learn important life skills, which can pave
        the path for making us an ideal and productive individual for society.
        This is the place where we get exposure to healthy relationships with
        our peers. In campus life, we get to learn and understand that one
        should not only be happy with the success of their own but also be happy
        for the success of their mate as well. Here I get to learn ways to lead
        a disciplined life. Campus life, as mentioned earlier, is the most
        vibrant one. It can be fun-filled experiences with our friends and
        healthy relationships with our professors, and there are so many aspects
        that make our life filled with enjoyable moments.
      </p>

      <p class="essay-content">
        Campus life makes us aware that life consists of both smooth and rough
        roads and makes us capable of travelling through them effectively to
        lead the journey of life without any setbacks. We learn here that during
        times of hardship in our lives, we must remember the happy moments, push
        ourselves to come out of such hard times, and always keep moving ahead
        to achieve our goals. Because we know that failure is not the end of our
        life, rather it is the one that kickstarts our life journey. Certain
        things in our life may have an end, but memories are the ones that last
        forever. Campus life is one of those memories that lasts forever in
        everyone’s life.
      </p>

      <p class="story-author">Written by SHAKTI PRIYA S</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
