<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/essay.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a
          href="https://www.youtube.com/@TheEngzine"
          class="btn-color-join"
          id="youtube"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          class="btn-color-join"
          id="instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          class="btn-color-join"
          id="x"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>A Teacher’s Influence: Shaping Minds and Heart</h1>
    </section>
    <main>
      <p class="essay-content-title">
        <strong>Introduction: </strong>
      </p>

      <p class="essay-content">
        When I think about the word ‘teacher’ my mind doesn’t immediately think
        about chalkboards, classrooms or books. Instead, I think of my mother –
        My first Profound Teacher. She has been the guiding force in my life,
        offering not only knowledge of the world but also wisdom that shapes my
        values, decisions, and character. This essay is a tribute to my mother,
        who taught me not only just about academics but also how to live
        meaningfully and compassionately.
      </p>

      <p class="essay-content-title">
        <strong>The Inspirational Role Model: </strong>
      </p>

      <p class="essay-content">
        From a very young age, I have witnessed my mom’s unwavering dedication
        to her work as a teacher. As a single parent of two children, balancing
        the demands of raising us while fulfilling her responsibilities in the
        classroom is no easy feat. The way she attentively cares for us and
        still finds time to follow her passion is truly remarkable. Her ability
        to juggle these roles and maintain her passion for education makes her
        an inspirational role model in my eyes. She exemplifies how dedication
        to one’s profession and family can coexist harmoniously, and her
        strength and passion have profoundly influenced my values and
        aspirations.
      </p>

      <p class="essay-content-title">
        <strong>Balancing Roles: </strong>
      </p>

      <p class="essay-content">
        Balancing multiple roles effectively requires remarkable skill and
        determination, which is a lesson I have learned from my mom. Her passion
        for teaching and her commitment to nurturing a love for learning has
        shaped my educational journey. However, there were some situations where
        my mother couldn’t balance all the roles but we would support and
        encourage her irrespective of the situation. She has always understood
        my strengths and weaknesses in ways no other teacher could. She has
        taught me to embrace curiosity, to never stop asking questions and to
        seek understanding in everything I do.
      </p>

      <p class="essay-content">
        “A Mother is a Child’s first teacher, not just in words but in actions,
        and her lessons last a lifetime.”
      </p>

      <p class="essay-content-title">
        <strong>Life Lessons Beyond Classroom: </strong>
      </p>

      <p class="essay-content">
        My Mother’s teaching extended far beyond the classroom walls; she was a
        constant source of guidance on how to navigate the complexities of life.
        One of the most valuable lessons is the importance of self-reflection
        and knowing oneself. She taught me that there is always something new to
        discover, no matter how much we think we know. She often said, “Life
        doesn’t always go as planned, but it’s how you respond to it that
        defines you.” She showed me how to analyse my mistakes without
        self-judgement and use them as valuable learning experiences. She
        demonstrated the importance of empathy, forgiveness, and compromise in
        friendships and family connections.
      </p>

      <p class="essay-content-title">
        <strong>Impact on Personal Growth: </strong>
      </p>

      <p class="essay-content">
        My mother as a teacher has been a transformative force in my personal
        growth. Her passion for education and her nurturing approach ignited in
        me a profound love for learning and an appreciation for the diverse
        perspectives of others. Her resilience in the face of challenges and her
        optimistic problem-solving mindset taught me to embrace obstacles as
        opportunities for growth. Watching her seamlessly blend compassion with
        discipline provided a powerful lesson in empathy and integrity, shaping
        my interactions and aspirations. Her unwavering commitment to lifelong
        learning not only motivated me to pursue my path with curiosity and
        enthusiasm but also inspired me to continually seek improvement.
      </p>

      <p class="essay-content">
        <q
          >The best teachers are those who show you where to look but don’t tell
          you what to see.</q
        >
      </p>

      <p class="essay-content-title">
        <strong>Conclusion: </strong>
      </p>

      <p class="essay-content">
        In conclusion, having my mother as both my teacher and parent has deeply
        influenced my personal development and outlook. Her unique blend of
        educational expertise and maternal care has offered me more than just
        academic lessons; it has provided a rich foundation for my growth. Her
        commitment, empathy, and encouragement have motivated me to face
        challenges with courage. Reflecting on her dual role, it’s evident that
        her impact extends far beyond the classroom, shaping my character and
        guiding me in countless ways. Her legacy as both a nurturing mother and
        an inspiring educator will continue to resonate in my life, driving me
        forward and enriching my journey.
      </p>

      <p class="story-author">Written by SRINIDHI S</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
