<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/essay.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>A Heaven of Learning</h1>
    </section>
    <main>
      <p class="essay-content-title">
        <strong>Introduction: </strong>
      </p>

      <p class="essay-content">
        Identity card, as we all know, is the most important thing on the campus
        without which college life will not move forward, creating experiences
        or entry into the field of learning never takes place. It is like an
        umbilical cord. Just like a child that needs the support of the mother,
        this ID card connects us with the college and provides all that we need.
        It has many roles to play in the campus life of a student, who can
        change and make things better.
      </p>

      <p class="essay-content-title">
        <strong>A Noose or a Necklace: </strong>
      </p>

      <p class="essay-content">
        There are two main notions about the card. One is that it is an
        adornment that brings pride and makes one feel comfortable. It gives a
        student the freedom to explore and enjoy the benefits that this
        prestigious institution offers. A student with this card will be
        identified as a person with dignity and honour. On the other hand, an ID
        card is a big unexpressed burden for both the students and the faculty.
        Some feel that it is a distraction to their fashion or a heavy laden to
        carry. The weight of the card is not so much compared to the weight of a
        phone or a textbook. But it is heavier than we can imagine. The value it
        has and the purpose it serves add special weight to it. The simple card
        with a strap can decide the atmosphere around the person. The moment one
        loses it, especially during the exams, the value increases more than a
        gold ring or a diamond necklace.
      </p>

      <p class="essay-content-title">
        <strong>An Instrument of Confidence: </strong>
      </p>

      <p class="essay-content">
        ID card for some becomes an instrument of confidence. People with low
        self-esteem tend to have something in their hands in order to stay calm
        or focused or avoid being shy or nervous. But for others, it gives
        motivation to express themselves confidently because the card that one
        carries along has a legacy and makes them feel proud about their
        position as a student in the most esteemed college. The students trust
        themselves and the place where they stand, just like I do in our
        college.
      </p>

      <p class="essay-content-title">
        <strong>Support and Prayers: </strong>
      </p>

      <p class="essay-content">
        It’s not just a simple plastic material but a relic that is accompanied
        by the blessings of our Lady of Lourdes, deceased Rev. fathers, the
        Saints, and the Blessings of God. The card provides support from the
        authorities and earns respect from people outside. Anyone who has the
        Identity of a Josephite will be admired and respected wherever he/she
        is.
      </p>

      <p class="essay-content-title">
        <strong>Companion: </strong>
      </p>

      <p class="essay-content">
        It is the closest companion which walks, jumps, runs, and does
        everything with us. It is the greatest companion on the campus, without
        whose company, the completion of the degree is impossible.
      </p>

      <p class="essay-content-title">
        <strong>Interdependent and Independent: </strong>
      </p>

      <p class="essay-content">
        The identity it gives also provides freedom to explore and experiment.
        Freedom with responsibility. It makes all depend on the greatness of the
        college and oneself individually, and makes the same independent to fly
        high and shine in the world.
      </p>

      <p class="essay-content-title">
        <strong>A Valuable Souvenir: </strong>
      </p>

      <p class="essay-content">
        For the people who complete their studies and reach great heights, this
        small card becomes a small spark that ignites many memories. They would
        cherish the memories, experiences, and lessons learned. It is not just a
        simple card; it is the key to opening the door to a new life.
      </p>

      <p class="essay-content-title">
        <strong>A Mark of Equality: </strong>
      </p>

      <p class="essay-content">
        The ID card is the sign that signifies equality among the students. It
        gives power to each individual to ask for equality in all aspects of the
        college. The ID card provides the same treatment to every individual
        irrespective of their background or status. It also gives a message that
        each individual is part of this extended family and each one must uphold
        its honour, be responsible in taking care of it, and sincerely
        contribute to the greatness of our home.
      </p>

      <p class="story-author">Written by James Michael</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
