<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/essay.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a
          href="https://www.youtube.com/@TheEngzine"
          class="btn-color-join"
          id="youtube"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          class="btn-color-join"
          id="instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          class="btn-color-join"
          id="x"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>LEGACY FROM LEGACY</h1>
    </section>
    <main>
      <p class="essay-content-title">
        <strong>Introduction: </strong>
      </p>

      <p class="essay-content">
        Wow! What an outstanding legacy wanders around for more than 181 years
        here! So was the feeling when I stepped into this great heritage
        college. People say a lot about this college, and one of the things is
        the discipline for which the college is known. Discipline is the mother
        of St. Joseph’s College. Students learn not only in the academic realm
        but also numerous life lessons. Sometimes, we conjecture it is not
        essential, but it is as important as academic lessons. This St. Joseph
        College assures us and makes sure that discipline and education should
        go hand in hand.
      </p>

      <p class="essay-content-title">
        <strong>My Experience: </strong>
      </p>

      <p class="essay-content">
        My life on this campus has been a memorable one since July 2024. The
        remarkable past of this college and its vigorous spirit in educating
        both the rich and the poor enslaved me to fall into the aesthetic legacy
        of this college. I was thrilled to be a part of it. Knowing the
        facilities and the infrastructure provided in this college mesmerized
        me. This is the platform where all the students are invited to explore
        the possibilities and opportunities and subsequently exhibit their
        talents.
      </p>

      <p class="essay-content">
        I see a lot of activities going on in every department with students
        participating and carrying off the prize. It is not a matter of bagging
        the prize but of using our talent at the right time and at the right
        place, as John Milton, the great poet, did even after losing his
        eyesight. Opportunities are given to everybody. Those who desire to be
        successful in their lives participate in all the programs. Medals are
        awaiting those who are sitting merely.
      </p>

      <p class="essay-content">
        As time passed, I befriended many colleagues from different departments
        and started building a strong bond and rapport with them all. As the
        world is evolving at an unimaginable speed at the cost of technology,
        our college also organizes programs on numerous occasions for students
        with generous faculty members who are ready to sacrifice their own
        precious time for the welfare of the students in the college at large.
        It’s a hectic task to arrange a program for the students, yet the staff
        do it out of love and care. If a plant has to grow well, first of all,
        the soil has to be fertile. Similarly, the faculty members of this
        college were and are the main pillars for making such a long heritage
        because of their unwavering commitment and especially love for the
        college and its students. To beef up our college and our surroundings,
        we require these faithful staff to provide a powerful education. Nelson
        Mandela said, "Education is the most powerful weapon you can use to
        change the world." Let us make it true with our industrious work.
      </p>

      <p class="essay-content">
        Our college sounds like an industry where it produces all sorts of
        products at different levels and sells them all over the world. Here,
        the products symbolize our students, the men, for others, not for
        themselves and for their selfish motives. This college made so many
        young hearts find the right paths in their lives and made them champions
        by making them aware of their talents. There are thousands of students
        who apply for applications in this college; all are not selected, but
        only a few of the thousands.
      </p>

      <p class="essay-content-title">
        <strong>Life on Campus: </strong>
      </p>

      <p class="essay-content">
        In our school days, if we get a free hour, we can’t go out, but here in
        the college during free hours, we should go out when there is a free
        hour, or else other classes will be disturbed by naughty behaviours. My
        friends and I straight away go to the Nutri Corner, or else very rarely
        we go to the library. This has been our routine during our free hours.
        One day I saw a group of students sitting under the famous tree called
        ‘kadailai maram’. The weather was also so pleasant and conducive for
        them to sit and discuss. I immediately had a chuckle of delight after
        seeing them sitting under that tree. The entire campus is about 100
        acres. There are pretty places here where we can plod along the scenery.
        There are places to enrich our calibre, and there are venues just to
        relax and chat with our companions. If you see people sitting in the
        positive corner, they will always be discussing something and studying
        together. I seldom prefer this venue.
      </p>

      <p class="essay-content-title">
        <strong>Shepherd Program: </strong>
      </p>

      <p class="essay-content">
        I would like to emphasize that one of the important jobs we do in our
        college is the "shepherd program." This is the ground reality where
        students are exposed to the true nature of the destitute people and
        their lifestyle. Going for the Shepherd program is mandatory for all the
        students of shifts one and two. They enjoy this program. They impart
        knowledge to the poor children through conducting some games and while
        teaching them something beneficial. This experience teaches them a lot
        about themselves and others. It involves not feeling sympathy but
        empathizing with them. This is what they say with a connotative meaning:
        “You have to fly as well as you have to be down to the earth.”
      </p>

      <p class="essay-content">
        If I pen down everything the indelible encounters at this college, it
        will go for a volume. I restrain myself by this. Resources are available
        and awaiting us. It is in our hands how we are going to make use of them
        in our day-to-day lives. To win over the enemy, we need to know the
        strengths and weaknesses of the enemy. Likewise, to compete with the
        innovations of technology, such as AI and other software, we must equip
        ourselves with the equal power of the technology. We must stimulate
        ourselves to sharpen our brains to face the ramifications that are
        unseen on our path. This St. Joseph’s College is not merely a college
        but full of knowledge. The way to get started is to quit talking and
        begin doing as told by Walt Disney. Never be struck by the failures;
        rise, and let’s march ahead with our heads held high.
      </p>

      <p class="story-author">Written by PRADEEP ROY M</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <footer class="footer-48201">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-md-5">
            <a href="#" class="footer-site-logo d-block mb-4"
              >Publisher Information</a
            >
            <hr />
            <h3 style="color: white">Publishing Body</h3>
            <p>
              PG & Research Department of English,<br />
              St. Joseph’s College
            </p>

            <h3 style="color: white">Address</h3>
            <p>
              St. Joseph’s College (Autonomous),<br />
              tiruchirappalli - 620002. <br />
              tamil nadu, india.
            </p>

            <h3 style="color: white">Editor in chief</h3>
            <p>Prasanth Arokia sawy. D</p>
            <h3 style="color: white">Contact Us</h3>
            <p style="text-transform: lowercase">
              +91 9994494858 <br />
              sjcengzine@mail.sjctni.edu
            </p>

            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Quick Links</a>
              <hr />
              <li><a href="/index.html">Home</a></li>
              <li><a href="/components/about/engzine.html">About Us</a></li>
              <li><a href="/components/contact.html">Contact</a></li>
              <li><a href="/components/feedback.html">feedback</a></li>
              <li><a href="/components/submissions.html">Submissions</a></li>
            </ul>
            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4"
                >Podcasts & Magazines</a
              >
              <hr />
              <li><a href="/components/podcast.html">podcast</a></li>
              <li><a href="/components/issues.html">current issue</a></li>
              <li><a href="#">archieve</a></li>
              <li><a href="/components/about/team.html">team</a></li>
            </ul>
            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4"
                >Click / Scan QR to Subscribe</a
              >
              <hr />
              <li>
                <a href="https://forms.office.com/r/PyE2N6jh03"
                  ><img
                    src="/img/qr.png"
                    alt=""
                    style="width: 120px; height: auto"
                /></a>
              </li>
            </ul>

            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright mt-5 pt-5">
              <p>
                <a href="https://sjctni.edu/">
                  <small style="text-transform: lowercase; color: white"
                    >&copy; www.sjctni.edu, All Rights Reserved.</small
                  >
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
