<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/essay.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a
          href="https://www.youtube.com/@TheEngzine"
          class="btn-color-join"
          id="youtube"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          class="btn-color-join"
          id="instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          class="btn-color-join"
          id="x"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>The Canteen</h1>
    </section>
    <main>
      <p class="essay-content-title" style="text-align: center">
        <strong>MOTTO: <q>The Hub of Nutrition and Socialization</q></strong>
      </p>
      <br />
      <p class="essay-content">
        The school canteen plays a vital role in any school as it is a source
        that stands between nutrition, socialization, and play. It serves to
        break up long periods of study, giving students a chance to be refreshed
        and focused. This essay goes into detail about the importance of having
        a school canteen, its benefits, and what it needs for improvement. A
        canteen acts as the quintessential place where a student's physical and
        mental health can be groomed. Given the dishes offered, it maintains
        students' energy levels throughout the day. Besides that, the canteen
        also acts as a socializing ground for promoting friendship, teamwork,
        and communication among the students.
      </p>

      <p class="essay-content-title">
        <strong>The Benefits of the Canteen:</strong>
      </p>

      <p class="essay-content">
        The benefits of the canteen such as Healthy eating habits, Socialization
        and teamwork, Relaxation to break Stress, promotes healthy eating
        habits. According to The University of Colombo, the School Canteens
        policy is intended to improve healthy food eating habits and nutrition
        for school children. However, having a canteen policy does not guarantee
        that the desired results will be met. Nowadays, the canteens face many
        challenges such as Hygiene and sanitation, nutritious, Inexpensive food,
        Waste Management and Sustainability, providing food for students with
        various diet needs and ensuring the safety and security of the students.
      </p>

      <p class="essay-content-title">
        <strong>Recommendations for Improvement:</strong>
      </p>

      <p class="essay-content">
        Here are the recommendations for the improvement of the Canteen such as
        healthy and sustainable food can be introduced, the school canteen shall
        be made cashless, Food education and nutrition shall be provided.
        Finally, the school canteen is amongst the support facilities to give
        students proper all-round development. Through healthy food supply,
        socialization, and proper eating habits. The canteen takes on a
        significant role in helping students live in good manners. Students can
        develop a healthy environment at the canteen by making appropriate
        adjustments and tackling problems.
      </p>

      <p class="story-author">Written by IVAN ANDREW C</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
