<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>ESSAY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/guidelines.css" />
    <link rel="stylesheet" href="../../../css/essay.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>Perceptions Of Women Lensed Out</h1>
    </section>
    <main>
      <p class="essay-content-title">
        <strong>Introduction: </strong>
      </p>

      <p class="essay-content">
        Actresses automatically increase the TRP rating of any random media
        company. We need just the spark to create a wildfire that could either
        elevate or tarnish their reputation. Generally, we look forward to
        tarnishing actresses’ names as it creates a hulla-bulla among our
        viewers. Nobody could ever beat us in this game of gossip because we own
        this domain of lush news. When I produce an article on women, I put
        their reputation on a platter for eager critics to devour them. Do they
        deserve this? Am I to judge? Divorces among celebs would be projected as
        hot news when I emphasize the actresses’ rainbow lives. It gives our
        viewers a ‘tip of the iceberg’ experience and we coat the rest as
        suspense. As a tiger faint from hunger would even eat grass, the
        audience would devour anything sprouting from my mind. I find it rather
        interesting as I acknowledge myself as a best-selling author writing
        non-fiction novels about romance, scandals, marriages and divorces.
      </p>

      <p class="essay-content-title">
        <strong>The Power of Media Manipulation: </strong>
      </p>

      <p class="essay-content">
        If heaven and hell ever exist, I confidently assure you of my reserved
        table for one in hell as you know of my job. As a good lawyer would lie
        truthfully, I, being a bigfoot (columnist), write the law or in other
        words, I AM THE LAW. “A picture speaks a thousand words,” I have them
        too! The Paparazzi hunger for their whereabouts and their life, whereas
        I decide what news should be broadcast to my viewers.
      </p>

      <p class="essay-content-title">
        <strong>The Audience’s Hunger for Scandal: </strong>
      </p>

      <p class="essay-content">
        My viewers hunger for a sneak peek into the actresses’ dark side. I hold
        the power to change any woman’s life. That’s what the world grants me,
        and I use it in my field of expertise. A pen, paper, and a name are all
        I need to change or disintegrate an actress’s life. Society gives me an
        advantage as their taste in entertainment mostly deals with objectifying
        women. Directors, producers, and actors leak secrets to me regarding the
        promiscuous activities of numerous actresses just for opportunities in
        films. Even this world cannot contain the volumes of scandals I can
        speak of.
      </p>

      <p class="essay-content-title">
        <strong>The Price of Success: </strong>
      </p>

      <p class="essay-content">
        Most of the top-paid actresses have been very industrious and have
        ventured through vice to be successful. Success comes with a price that
        costs shame and morality. I am not the devil, but people often call me
        that. They dwell in the illusion I create regardless of whether the
        content is true or not. It is indeed a pity when I see people falling
        and needing the help of sin to rise. Beware, ladies and gentlemen, as
        you see, I am your nemesis.
      </p>

      <p class="story-author">Written by Alan Mario. S.</p>

      <hr class="hr-4" />
    </main>

    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
