<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
    <link rel="stylesheet" href="/css/short story.css" />
  </head>
  <body>
    <!-- Header Section Starts -->
    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>For That One Moment</h1>
    </section>
    <main>
      <p>
        It's been a year since college started, but I've only seen him two
        times. He is a sports person, so he'll not come to college daily but
        he'll come whenever he wishes to. Finally, it was even semester, and all
        the students were in a rush. Every department was preparing for college
        sports day to give their best. As a secretary, I was running through the
        corridor here and there. Our department corridor will be crowded from
        8:00 am to 8:25 am as college starts at 8:30 am. My department corridor
        is the way to the History department, Forensic science department, and
        the English department. So, I was busy collecting names for the
        competition. There, I noticed a familiar face but didn’t have time to
        look, so I just moved on with my work. It’s been a week since I’ve
        attended my lectures. So today, I’ve decided to catch up and was in
        class taking notes. Haa. I was tired from all the classes. My friend and
        I went for a coffee break. I was busy chatting with my friend and
        stepping out of my class, trying to get a good breeze. While I was
        stepping out, someone entered. Before I could see them, my long
        thumbnail touched him, or we could say punched him in his hip. I was
        frightened and shouting with my eyes closed. Not even looking at the
        person, I stepped into the corridor. Then I heard a voice behind me,
        "Are you okay?" Before I could see the person, I saw my friend who was
        giggling. Again, I heard a voice, "I'm sorry, I frightened you." I said
        it was okay while slowly turning back, and I became mute. Oh, my
        goodness, it's him, it’s him, it’s him! It’s my school senior and he is
        my college senior too. I could scream now, but being a mature girl, I
        said, "It's okay. I'm sorry I didn’t look." After that scene in the
        corridor, my friends were tired of me repeating the things that
        happened.
      </p>

      <p>
        Days passed, but my mind was reliving that corridor incident again and
        again. I can't shake my mind out of it. It’s finally the sports day. In
        the meantime, I had a few interactions with him regarding sports day, as
        he was representing our department in a few games. I was there on the
        ground with a bunch of students as the competition was going to start. I
        had so many opportunities to speak with him, but I didn’t. He won prizes
        in all the competitions he participated in, except for relay, and the
        final would be conducted that evening. I had some work to finish, and
        after finishing that, I returned to the ground. He was there. He didn’t
        even know my name or that I was his school junior. I said to myself,
        "One day I’ll speak with him, just to get to know him."
      </p>

      <p>
        It’s time for the relay. I know he will win as he has been in this field
        for almost 8 years. If he wins this competition, he will be the overall
        champion, and our department has a chance to win overall trophies. All
        the players were getting ready for the final event, the relay. All were
        professional athletes, so it’s a tough competition. The first five were
        ready in their lane. He is the last person in the finishing lane. The
        gun was shot, and the race started. Athletes were so fast. Our
        department boys were running second, and I knew the last person would
        pull through. The third person passed the baton to the anchor, and he
        was in the lead. We all were cheering for them, and suddenly, another
        athlete crossed into his lane. In a fraction of a second, two of them
        crashed into each other and fell. We were focused on the finishing
        point, but he was not there. My heart raced, and I was running towards
        the boys who fell. He was there on the ground. Before I could come to my
        senses, I was calling his name, "Akshay, Akshay!" and running towards
        the crowd.
      </p>

      <p>
        Oh God, his collarbone is injured. The person who ran behind him stepped
        on his neck with spikes. Tears were rolling down my eyes after seeing
        him. I wanted to go near and talk to him, and I did the same. I went
        near him, and tears filled my eyes. I called him Akshay. He turned
        towards me before he could see the paramedics arrive. They took him. All
        events were finished, and my department won second place in the overall
        competitions. All were back to the regular classes. But I’m stuck on
        that ground, revisiting all the things that happened in these few days.
        I don't know what I'm waiting for, but here I am standing in the
        corridor from 7:45 am to 8:25 am.
      </p>

      <p class="story-author">Written by Jebinsha J</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
