<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/guidelines.css" />
    <link rel="stylesheet" href="../../css/short story.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>Murder in Corridor</h1>
    </section>
    <main>
      <p>
        One of the stereotypes or beliefs among hostellers is the ghost stories
        happening in the hostel. In every hostel, even though nothing serious or
        scary happens, rumours among the hostellers spread easily. This is the
        story of a girls’ hostel located near an old building where no one
        lives. The girls in the hostel are crazy, always making fun of others or
        scaring them. Meena, a new girl in the hostel, is staying with her
        roommates, who have already been there for a while. Meena has much
        longer hair than the other girls in the hostel. Her roommates often make
        fun of her, so she mostly spends her time in the church, praying to God.
        Her roommates are jealous of her long hair. One day, they told Meena a
        ghost story.
      </p>

      <p>
        They said that a girl who stayed in the hostel four years ago did not
        have long hair and desperately wanted thick, long hair. But no matter
        what she did, her hair wouldn’t grow. Her obsession turned into hatred
        toward anyone with long hair. Around the same time, a new warden with
        beautiful long hair was appointed to the hostel. The girl decided to
        ruin the warden’s hair by tampering with her shampoo and oil, but
        nothing happened. Eventually, the girl turned evil and mixed acid into
        the warden’s shampoo. However, when the warden tried to open the bottle,
        it slipped from her hand and spilled on the floor. The girl with short
        hair, watching from the corner, realized she couldn’t harm the warden’s
        hair that way. Instead, she plotted to kill her. That night, she
        attacked the warden, using her hair to strangle her and setting her hair
        on fire. The next morning, the warden’s charred body was discovered, and
        the girl feigned innocence with a creepy smile. The warden’s burnt body
        seemed to stare at her, but no one suspected her initially.
      </p>

      <p>
        Shortly after, a new girl moved into the hostel as the girl’s roommate.
        This new girl had long, thick hair, which made her the next target. The
        girl killed her the same way she had killed the warden. Over time, the
        girl became a serial killer, murdering anyone with long hair. Her creepy
        smile started to raise suspicions among other hostelers. One night,
        while trying to kill her next target, a girl who was awake and talking
        to her boyfriend caught her in the act. With the help of other
        hostelers, they tied the killer to a window. By then, she had killed
        more than 10 girls and the warden. When the police arrived and untied
        her, she ran to the corridor, set herself on fire, and died, yelling her
        final words: "I’ll never leave anyone alive with long hair!"
      </p>

      <p>
        After hearing this, Meena asked her roommates, "This is okay, but it
        happened years ago. Do you still believe it?" They replied, "Yes, of
        course! Her favourite number was 5, and this is the fifth year after her
        death. Our room number is 5, and your cot is the fifth one. Be careful!
        And if you have long hair, don’t go near the horror corridor, or her
        ghost will burn your hair!" Meena became scared because she valued her
        hair more than gold or cosmetics.
      </p>

      <p>
        One midnight, Meena’s roommates planned to scare her. One girl pretended
        to be afraid of the dark and woke Meena up to fetch water. Meena agreed
        and went alone. She got stuck in fear when she realized that the usual
        way to the water cans was closed, leaving her with no choice but to use
        the horror corridor.
      </p>

      <p>
        Her roommates watched her from a window, laughing at her prayers as she
        bravely stepped into the corridor. Suddenly, a black shadow with a
        handful of hair in one hand and a matchbox in the other appeared—the
        creepy girl’s ghost. Meena kept praying without stopping, even as the
        ghost approached her. Her roommates, terrified by the sight, were killed
        by the ghost one by one. The ghost then turned to Meena, who was
        trembling but praying fervently. As the ghost tried to attack, a white
        shadow emerged, protecting Meena. The creepy girl’s ghost couldn’t harm
        her and eventually disappeared with a terrifying sound.
      </p>

      <p>
        Finally, as is often the case, the good spirit helped the girl and
        destroyed the evil spirit. This story reminds us that we all live with
        the hope of good spirits. A spirit is not only a godly entity but also
        positivity and energy.
      </p>

      <p class="story-author">Written by JEFFRIN SEBA J</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../js/script.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
