<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
    <link rel="stylesheet" href="/css/short story.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a
          href="https://www.youtube.com/@TheEngzine"
          class="btn-color-join"
          id="youtube"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          class="btn-color-join"
          id="instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          class="btn-color-join"
          id="x"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>Once a master, he is my hero</h1>
    </section>
    <main>
      <p>
        The narrative opens on a college campus where a teenage girl named Sana
        enrolls as a literature student after completing her education. She was
        thrilled to join her dream college. Sana grew up under the supervision
        of her sister and brother, who both served as her greatest inspirations.
        Her brother, in particular, provided her with guidance and became her
        close friend.
      </p>

      <p>
        When Sana first arrived at the institution, she was captivated by the
        vibrant surroundings. The college entrance resembled a major
        thoroughfare, and the greenery around the campus was refreshing to the
        eyes. Each department had its own unique classroom structure, while the
        library and the ground had their own fan bases. Despite students
        occasionally disliking the library, they appreciated its architecture.
        Sana’s perception of her new classroom was different from what she had
        imagined. Students were rushing to their classes, creating an energetic
        atmosphere.
      </p>

      <p>
        Among the students was a young professor mingling with them, so much so
        that even Sana's friends couldn’t initially tell he was a professor. He
        resembled a student himself. However, his introduction to the class made
        him stand out from the rest. Sana admired his individuality and
        attitude. As the day progressed, the professor was assigned as her
        lecturer for her major subject.
      </p>

      <p>
        At first, everyone was apprehensive about the coursework, but the
        professor’s way of teaching eased their fears. Despite being
        exceptionally intelligent, he carried himself with the energy and
        demeanor of a student, making the classroom environment lively. His
        teaching methods greatly inspired Sana, and she found herself paying
        more attention to his subject compared to others. The professor
        approached his work with passion and had a knack for understanding the
        diverse mindsets of his students.
      </p>

      <p>
        Beyond teaching, the professor guided his students to reach the next
        level. Occasionally, he shared personal experiences to provide life
        lessons, but he did so subtly, blending his advice into his lectures.
        His approach to offering guidance was indirect yet impactful. Over time,
        Sana began to draw daily inspiration from him. His mentorship motivated
        her to delve deeper into her passion for books.
      </p>

      <p>
        Through his teachings, Sana learned many valuable lessons. She aspired
        to be just like him in the future—a source of inspiration for her own
        students. She hoped that her future students would feel the same
        admiration and desire to grow as she did under his guidance.
      </p>

      <p class="story-author">Written by Jenate Esther Sheela A</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <footer class="footer-48201">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-md-5">
            <a href="#" class="footer-site-logo d-block mb-4"
              >Publisher Information</a
            >
            <hr />
            <h3 style="color: white">Publishing Body</h3>
            <p>
              PG & Research Department of English,<br />
              St. Joseph’s College
            </p>

            <h3 style="color: white">Address</h3>
            <p>
              St. Joseph’s College (Autonomous),<br />
              tiruchirappalli - 620002. <br />
              tamil nadu, india.
            </p>

            <h3 style="color: white">Editor in chief</h3>
            <p>Prasanth Arokia sawy. D</p>
            <h3 style="color: white">Contact Us</h3>
            <p style="text-transform: lowercase">
              +91 9994494858 <br />
              sjcengzine@mail.sjctni.edu
            </p>

            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Quick Links</a>
              <hr />
              <li><a href="/index.html">Home</a></li>
              <li><a href="/components/about/engzine.html">About Us</a></li>
              <li><a href="/components/contact.html">Contact</a></li>
              <li><a href="/components/feedback.html">feedback</a></li>
              <li><a href="/components/submissions.html">Submissions</a></li>
            </ul>
            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4"
                >Podcasts & Magazines</a
              >
              <hr />
              <li><a href="/components/podcast.html">podcast</a></li>
              <li><a href="/components/issues.html">current issue</a></li>
              <li><a href="#">archieve</a></li>
              <li><a href="/components/about/team.html">team</a></li>
            </ul>
            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4"
                >Click / Scan QR to Subscribe</a
              >
              <hr />
              <li>
                <a href="https://forms.office.com/r/PyE2N6jh03"
                  ><img
                    src="/img/qr.png"
                    alt=""
                    style="width: 120px; height: auto"
                /></a>
              </li>
            </ul>

            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright mt-5 pt-5">
              <p>
                <a href="https://sjctni.edu/">
                  <small style="text-transform: lowercase; color: white"
                    >&copy; www.sjctni.edu, All Rights Reserved.</small
                  >
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
