<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
    <link rel="stylesheet" href="/css/short story.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>Stone benches – A place where memories live</h1>
    </section>
    <main>
      <p>
        I watched the soft grass beneath my feet as I was walking towards the
        cafeteria. I was fatigued from all the late-night studying. I wanted to
        get away from the tense environment in our classroom. Students were
        bustling everywhere with a book in their hands, some reading quietly and
        others mumbling to themselves. The air was dense with anticipation and
        nerves. It was our last semester exam. I was confident that I prepared
        well for my exam, but I was tired.
      </p>

      <p>
        I bought a coffee and walked towards the hut which is known as the
        Positive Corner. Words of affirmation and optimism can be found
        everywhere, hence the name. It is located between the English and the
        Mathematics Departments. It is a spacious area, and a pleasant breeze
        caresses my face as I settle on a stone bench. Two wooden racks sit
        neatly in the centre, packed with books on the shelves. It has always
        been a comforting place for me since the day I stepped into this
        college.
      </p>

      <p>
        This place has a lot of stone benches that hold so many memories dear to
        my heart. I used to come here with my friends during recess, after
        eating pani puri in the canteen, talking about our days and laughing.
        Sometimes, even classes take place here for us, and we are blessed as
        this privilege is only for Literature students. We used to eat lunch
        here, watching birds chirping and clouds floating. The trees around this
        place give a tranquil feel, luring students here.
      </p>

      <p>
        They would come here to chat with their friends, some to write
        assignments in a hurry to complete before the deadline, and you could
        see couples holding hands, nerds reading books, girls gossiping, and
        taking snaps of this place. As the NCC room is situated beside the
        Positive Corner, a lot of NCC meetings are conducted here. I always
        found it funny that some students bunk their classes to come here, but
        the Deputy Principal’s office is opposite the Positive Corner. If they
        get caught, he would collect their ID cards and bore them with fluent
        advice in Tamil, and they would follow him everywhere to get it back
        after having to listen to all of it.
      </p>

      <p>
        Now that I look back, I realize how time flies and how we should cherish
        every moment and learn to live in the present. It is heartbreaking to
        think that my college days are coming to an end, but all the memories
        made here will be held close to my heart.
      </p>

      <p class="story-author">Written by Jenate Esther Sheela A</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
