<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
    <link rel="stylesheet" href="/css/short story.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>Sweet Separation</h1>
    </section>
    <main>
      <p>
        Who said a break-up in a relationship gives more pain and trauma? Moving
        from our home to the college hostel or the place we work gives more pain
        than a break-up. And who said only girls would have homesickness and
        longingness? This is the story of Kalix, an 18-year-old boy, who longs
        for his family. He is a 2nd-year college boy and handsome too.
      </p>

      <p>
        This is the day of celebrating culture in his college and the day before
        the weekend holidays. So, everyone is busy with preparations and
        rehearsals. Kalix is a good guitarist, so he is also practicing for a
        cultural program. When it’s time for Kalix’s concert, he performs so
        well on the guitar that it earns him a fan base for his talent. He wins
        1st prize for his guitar performance. After the celebration is over, he
        rushes to his hostel to pack his luggage because the next 5 days are
        holidays. With 10 hours of travel and needing to change 4 buses to get
        from his hometown to his academic place, he is eager to catch the bus on
        time.
      </p>

      <p>
        On the way, a girl follows Kalix. He stops and stands on the way, and
        the girl starts to talk. “Hi Kalix, myself Luna, and you don’t know me,
        but I know you. I’ve been following you since the 1st year, and I was so
        impressed by your guitar concert. It’s the most wonderful performance
        I’ve ever seen!” Kalix replies with thanks and starts walking back to
        his hostel. Luna keeps him company without his consent, and they start
        walking together. Luna then shyly says, “Kalix, I want to say this… you
        are my crush.” Hearing this, Kalix blushes. It’s the first time he’s
        heard such words, so he just smiles and moves on. When they reach
        Kalix’s hostel, Luna hugs him, says “safe journey,” and leaves the
        place. They exchange phone numbers before she leaves.
      </p>

      <p>
        Kalix enters his hostel room and starts packing his luggage. Once ready,
        he heads toward the bus stand. His cell phone rings, playing “I love
        you, Mommy, my sweet mommy.” It’s his mom calling to check where he is.
        After answering the call, he reaches the bus stand and waits for his
        bus. There are only two buses available for the next stop. When the bus
        finally arrives, Kalix steps in and takes a seat by the window. Ten
        minutes later, the bus starts moving out of the stand. His phone rings
        again—it’s his mom, once more checking on him. After replying to her,
        Kalix gets his ticket from the conductor and settles into his seat. He
        removes his headset and listens to music while watching the trees and
        nature pass by.
      </p>

      <p>
        As the journey continues, pleasant and unpleasant thoughts swirl in
        Kalix’s mind. The distance to his hometown gets shorter and shorter. A
        sense of unknown happiness rises on his face. When he reaches the last
        bus stand, just 30 minutes from his home, he steps onto the next bus,
        which is crowded due to the weekend holiday. Kalix feels nervous when he
        realizes he’s short on money for the ticket. A kind grandma sitting
        nearby notices his anxious face and offers him 5 rupees. Kalix
        gratefully accepts, gets his ticket, and thanks the grandma.
      </p>

      <p>
        Finally, Kalix reaches his home. During the journey, he had received
        about 7 to 8 calls from his mom, which showed how much she loves him.
        When he steps inside, his mom greets him with a smile, hugs him tightly,
        and kisses his forehead. Her love evokes a special feeling in Kalix. She
        had prepared a feast of all his favorite dishes. Kalix’s family spends
        the day chatting and playing with him. He shares stories about his
        hostel and college life. Kalix also has a younger sister, two years his
        junior. They share a strong bond and talk about everything, including
        Luna. Kalix even shows his prize to his family.
      </p>

      <p>
        After four days of holidays, Kalix has thoroughly enjoyed his time at
        home. But the holidays are coming to an end, and it’s his last day at
        home. His mom prepares pickles, sweets, and idly podi for him to take
        back to the hostel. As Kalix gets ready, his mom and dad accompany him
        to the bus stand. When the bus arrives, Kalix’s mom tears up but waves
        goodbye. Kalix, too, feels sad but knows there’s no other choice. This
        painful separation, while tough, teaches him valuable lessons about
        adapting to new places and socializing with others. In a way, it’s a
        “Sweet Separation.”
      </p>

      <p class="story-author">Written by JEFFRIN SEBA J</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
