<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
    <link rel="stylesheet" href="/css/short story.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>That Particular Hour</h1>
    </section>
    <main>
      <p>
        Yet again, the students are rushing to the class. There he is, the
        reason we are running towards the class. I don't know what magic he does
        to us. I've never seen any PG class rushing for their lectures. The
        lively class, with so many facts and interesting examples, and the way
        he delivers everything makes us sit down for 45 minutes. No one will
        ever get bored in Dr. Imman Harry's class.
      </p>

      <p>
        He's a psychology professor and has great knowledge and a good
        perception of life. Anyone could listen to this omniscient person. The
        moment he sees a person, he will know what the person is going through.
        Yeah, so many of them are waiting to meet him. But we have the privilege
        to sit in his class and listen to all his experiences. If anyone sleeps
        in class, he would know, and he'll bring them back to the class.
      </p>

      <p>
        He is a very jovial person to talk to. In class, he used to give us a
        lot of real-life examples from the clients he met (without revealing
        their identities). The way he handles the subject makes it easier to
        learn. I could go to the exams without studying—that's how efficiently
        he teaches. He often travels to other countries, so his class will be
        limited. That's the reason no one misses his class.
      </p>

      <p>
        We used to ask him a lot of life-related questions, like what he'll do
        in his free time after taking our classes. He made a joke there and said
        he used to write books and read. Yeah, he has written many books. I've
        two books with me that he wrote: one is “Loving Joyously," and another
        is in Tamil. We all could spare anything to sit in his class.
      </p>

      <p>
        Yet again, we are walking towards the class for the last convocation
        speech from him.
      </p>

      <p class="story-author">Written by Jebinsha J</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
