<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
    <link rel="stylesheet" href="/css/short story.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a href="https://www.youtube.com/@TheEngzine" id="btn-color-join">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          id="btn-color-join"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          id="btn-color-join"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>The Place with Memories</h1>
    </section>
    <main>
      <p>
        On a fine day, I went with my dad to drop my little brother at the same
        college where I completed my degree. Whenever I see my college, the
        memories I have come flooding back in front of my eyes. Wow…those days…
        I remember an event that happened in the classroom. It feels like it
        happened just now, but the days go on.
      </p>

      <p>
        It was a beautiful morning, and I was heading to my college. On the way,
        I met my friend, Sushi, a wonderful dog that always waited to see me. I
        fed biscuits to it. After that, I stepped into my college and saw
        Roshan, my crush. Roshan, from another department, was such a charming
        person and a class topper. His class was on the way to mine, so I always
        made sure to pass by and steal a glance at him. This was one of my daily
        activities. Finally, I entered my classroom.
      </p>

      <p>
        The class began at 8:30 AM and was part of the first shift. As the
        representative of the class, I prided myself on being punctual and was
        often the first one to arrive. In my opinion, I was doing my best as a
        representative. On August 9, as usual, I entered the classroom and saw
        my classmate chatting with her boyfriend. I teased them sarcastically
        and then got to work. The bell rang, and we all gathered in front of the
        building for prayer. After the prayer was over, everyone went back to
        their respective classrooms.
      </p>

      <p>
        Classes went on as usual. As the class representative, I helped my
        classmates with academic matters. Most of my classmates, juniors, and
        even professors liked me as a person and had a positive view of me.
        However, some classmates were against me. Despite this, I never stopped
        performing my duties and never cared about their negativity. During the
        next period, gossip started spreading among the students. Finally, it
        reached me: someone had written a letter to the Head of the Department
        requesting my removal as class representative.
      </p>

      <p>
        I was stunned and had no idea about it. I asked my professor about it
        and then stepped outside the classroom to make a phone call to my mom.
        She answered, and I explained what had happened. She replied calmly,
        “That’s cool; it means you are doing your duty perfectly.” I was
        confused by her response, but she ended the conversation by saying,
        “They don’t dare to face you in person, so they complain to others. This
        shows how cowardly they are.” Hearing these words gave me confidence,
        and I decided to face the issue head-on. Eventually, I made the person
        who complained apologize to me. After this incident, the professors had
        a newfound respect for me.
      </p>

      <p>
        The classroom gave me both good and bad memories that I can never
        forget. Some of my classmates, including those who disliked me, and some
        juniors were selected for intercollege competitions. On January 29, we
        traveled to another college, ABC College, for the competitions. ABC
        College was far from ours, so we started our trip early in the morning.
        When we boarded the bus, I noticed many empty seats. I wished to sit
        with my classmates, but they avoided me and hesitated to let me sit near
        them. This made me feel a bit down, but my juniors comforted me, and I
        moved on.
      </p>

      <p>
        When the bus stopped in front of ABC College, I felt excited. This
        college was for women, and I was happy to visit. I participated in the
        skit and the mono act. The professor was impressed by my performance. My
        classmates participated in mime but unfortunately lost the competition.
        From this event, I realized, “If I have self-encouragement, I too can
        succeed.”
      </p>

      <p>
        The classroom is a place where we experience both good and bad. Some
        people encourage you, while others try to bring you down. Ultimately,
        it’s all about how you handle the situation and grow from it.
      </p>

      <p class="story-author">Written by JEFFRIN SEBA J</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <footer class="footer-48201">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-md-5">
            <a href="#" class="footer-site-logo d-block mb-4"
              >Publisher Information</a
            >
            <hr />
            <h3 style="color: white">Publishing Body</h3>
            <p>
              PG & Research Department of English,<br />
              St. Joseph’s College
            </p>

            <h3 style="color: white">Address</h3>
            <p>
              St. Joseph’s College (Autonomous),<br />
              tiruchirappalli - 620002. <br />
              tamil nadu, india.
            </p>

            <h3 style="color: white">Editor in chief</h3>
            <p>Prasanth Arokia sawy. D</p>
            <h3 style="color: white">Contact Us</h3>
            <p style="text-transform: lowercase">
              +91 9994494858 <br />
              sjcengzine@mail.sjctni.edu
            </p>

            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4">Quick Links</a>
              <hr />
              <li><a href="/index.html">Home</a></li>
              <li><a href="/components/about/engzine.html">About Us</a></li>
              <li><a href="/components/contact.html">Contact</a></li>
              <li><a href="/components/feedback.html">feedback</a></li>
              <li><a href="/components/submissions.html">Submissions</a></li>
            </ul>
            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4"
                >Podcasts & Magazines</a
              >
              <hr />
              <li><a href="/components/podcast.html">podcast</a></li>
              <li><a href="/components/issues.html">current issue</a></li>
              <li><a href="#">archieve</a></li>
              <li><a href="/components/about/team.html">team</a></li>
            </ul>
            <hr />
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <a href="#" class="footer-site-logo d-block mb-4"
                >Click / Scan QR to Subscribe</a
              >
              <hr />
              <li>
                <a href="https://forms.office.com/r/PyE2N6jh03"
                  ><img
                    src="/img/qr.png"
                    alt=""
                    style="width: 120px; height: auto"
                /></a>
              </li>
            </ul>

            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="copyright mt-5 pt-5">
              <p>
                <a href="https://sjctni.edu/">
                  <small style="text-transform: lowercase; color: white"
                    >&copy; www.sjctni.edu, All Rights Reserved.</small
                  >
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
