<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../img/favicon.ico" rel="icon" />
    <title>STORY | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/guidelines.css" />
    <link rel="stylesheet" href="../../css/short story.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="story-title">
      <h1>The Girl with The Angel</h1>
    </section>
    <main>
      <p>
        Sara, a 19-year-old girl, is pursuing her undergraduate degree in the
        United States. She is very innocent and kind but has attachment issues,
        which are problems in building a relationship with others. In 2020, she
        started her 1st year of undergraduate at Belgium University. At the time
        of her 1st year, she met a girl named Angelina. Within a few days, they
        became thick friends. Sara keeps Angelina equal to her parents. Sara did
        everything for Angelina, and Angelina did the same. Sara considers her
        as the main part of her life because Sara had never experienced such a
        strong friendship in her previous lifetime. She became deeply attached
        to this relationship. The 1st year of their college days went smoothly.
      </p>

      <p>
        They stepped into the 2nd year of their college days. During these days,
        Angelina found better friends than Sara, so she started to leave Sara.
        But Sara couldn’t accept it and move on. She found it very hard to
        accept. Sara felt very bad because she kept Angelina equal to her
        parents. Also, Angelina was Sara's first friend.
      </p>

      <p>
        Sara started to feel unlucky in all relationships, which strongly
        created an attachment issue in her. It affected Sara’s mental health and
        academics. Sara created her own world, which was lonely to others. Sara
        eventually accepted her situation, saying, “Leave the rope instead of
        tightening it, because it hurts your hand...” After a few weeks and
        months passed, Sara started her 3rd year of college life. During this
        period, she met another girl in her classroom. Her name was Sheethal,
        and she was the topper of her class. Similar to Sara, Sheethal also
        experienced bad events with her best friend, who had been with her since
        childhood. Sheethal’s best friend always got the 2nd rank in the class,
        so she became jealous of Sheethal’s academic performance. Because of
        this, her best friend waited for Sheethal's downfall.
      </p>

      <p>
        There was a young professor named Lavenda, often called Mr. L. He was
        kind and friendly to his students and peers. He was also very handsome.
        Mr. L always called on Sheethal to host events as the Master of Ceremony
        because Sheethal was proficient in English. This created jealousy in
        Sheethal’s best friend, who started plotting against her. She spread a
        rumor that Sheethal had an affair with Mr. L. After hearing this rumor,
        Sheethal felt very bad and found it difficult to prove herself. Mr. L
        eventually resigned voluntarily because of these issues. When Sheethal
        came to know that it was all because of her childhood friend, she broke
        down completely. This also affected her academic performance. Sheethal
        started to isolate herself, just like Sara. Although they were in the
        same class, Sara and Sheethal never talked to each other because they
        had different friend circles. However, Sheethal observed Sara’s
        loneliness and understood Sara’s situation, as it was somewhat similar
        to her own life incident.
      </p>

      <p>
        Sheethal initiated a conversation with Sara. Day by day, they became
        friends. Sara trusted Sheethal when no one else did. Sheethal and Sara
        supported each other through every difficult situation. They proved the
        meaning of true friendship. They didn’t keep secrets from each other.
        Sheethal had a crush on a classmate who was a member of the dance group.
        She liked him very much and often got nervous whenever she saw him. As
        the days and months passed, the final month of their college days
        arrived. Sheethal decided to buy a ring for her crush. She went with
        Sara and purchased a beautiful ring as a gift for him. A few days later,
        Sheethal met her crush at a coffee shop near the college. However, she
        didn’t give him the ring. Instead, she gave it to Sara. Sheethal told
        Sara, “He is my crush, but he is not as important as you. You are my
        best friend who stood by me in my difficult times.” Sara felt truly
        valued. Both Sheethal and Sara wondered, “If this is the end, why did we
        not meet before?”
      </p>

      <p>
        College days are important for everyone, as they often bring turning
        points in life. Some people gain good life lessons, while others face
        bad ones. In Sara and Sheethal’s story, Sara was an angel for Sheethal,
        and Sheethal was an angel for Sara.
      </p>
      <p class="story-author">Written by JEFFRIN SEBA J</p>

      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../js/script.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
