<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon" />
    <title>CONTACT | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/contact.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../js/header1.js"></script>
    <special-header></special-header>

    <div style="margin: 4.5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Contact Start -->
    <section id="contact">
      <div class="container">
        <h2>Contact Us</h2>
        <div class="contact-columns">
          <!-- Column 1: Contact Information -->
          <div class="contact-info" id="contact-first">
            <h3>Contact Information</h3>
            <div class="contact-address">
              <p>
                <i class="fas fa-university"></i>
                <strong>Office:</strong>

                Department of English (SF), <br />
                St. Joseph's College (Autonomous),<br />
                Tiruchirappalli-620002
              </p>
            </div>

            <p>
              <i class="fas fa-phone-alt"></i>
              <strong>Phone:</strong> 9994494858
            </p>
            <p>
              <i class="fas fa-envelope"></i> <strong>Email:</strong>
              <a
                href="mailto:sjcengzine@mail.sjctni.edu"
                style="text-transform: none"
                >sjcengzine@mail.sjctni.edu</a
              >
            </p>
          </div>

          <!-- Column 2: Map Embed -->

          <div class="map-container">
            <h3>Location</h3>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7837.522716920014!2d78.692329!3d10.829566!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baaf5892b5ed461%3A0x23992c5c469ac168!2sSt.%20Joseph&#39;s%20College!5e0!3m2!1sen!2sin!4v1735206619581!5m2!1sen!2sin"
              width="100%"
              height="400"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact End -->

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../js/footer1.js"></script>
    <!-- Footer End -->
    <!-- JS link -->

    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
