<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon" />
    <title>CURRENT ISSUE | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    />
    <link rel="stylesheet" href="../css/issue.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />



    <script src="//static.fliphtml5.com/web/js/plugin/LightBox/js/fliphtml5-light-box-api-min.js"></script>
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../js/header1.js"></script>
    <special-header></special-header>
    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <h1 id="issn">ISSN: 3049-1363</h1>
    <!-- Content Here -->

    <div class="columns-section">
      <!-- Poems -->
      <div class="column">
        <h2>Poems</h2>
        <ul>
          <li>
            <a
              href="../components/poems/A Transition from Present to Future and from Future to Present.html"
              >A Transition from Present to Future and from Future to Present</a
            >
          </li>

          <li>
            <a href="../components/poems/Echoes of Victory.html"
              >Echoes of Victory</a
            >
          </li>
          <li>
            <a href="../components/poems/From Start to Forever.html"
              >From Start to Forever</a
            >
          </li>
          <li>
            <a
              href="../components/poems/Indelible Imprint of St. Joseph's College.html"
              >Indelible Imprint of St. Joseph's College</a
            >
          </li>
          <li>
            <a href="../components/poems/Moments at College.html"
              >Moments at College</a
            >
          </li>
          <li>
            <a href="../components/poems/My Classroom.html">My Classroom</a>
          </li>
          <li>
            <a href="../components/poems/Peaceful drizzles.html"
              >Peaceful drizzles</a
            >
          </li>
          <li>
            <a href="../components/poems/Stepping out with HCC’s Grace.html"
              >Stepping out with HCC’s Grace</a
            >
          </li>
          <li><a href="../components/poems/Still!.html">Still!</a></li>
          <li>
            <a href="../components/poems/The Poetic Thread of Us.html"
              >The Poetic Thread of Us</a
            >
          </li>
          <li>
            <a href="../components/poems/The Shoulder That Heals.html"
              >The Shoulder That Heals</a
            >
          </li>
          <li>
            <a href="../components/poems/Timeless Tides.html">Timeless Tides</a>
          </li>

          <li>
            <a href="../components/poems/Whispers of Timeless Youth.html"
              >Whispers of Timeless Youth</a
            >
          </li>
          <li>
            <a href="../components/poems/Whispers And Wonders.html"
              >Whispers And Wonders</a
            >
          </li>
        </ul>
      </div>
      <!-- Short Stories -->
      <div class="column">
        <h2>Short Stories</h2>
        <ul>
          <li>
            <a href="../components/short stories/Bench Friend.html"
              >Bench Friend</a
            >
          </li>
          <li>
            <a href="../components/short stories/For That One Moment.html"
              >For That One Moment</a
            >
          </li>
          <li>
            <a href="../components/short stories/Journeys in Academia.html"
              >Journeys in Academia</a
            >
          </li>
          <li>
            <a href="../components/short stories/My Classroom.html"
              >My Classroom</a
            >
          </li>
          <li>
            <a
              href="../components/short stories/My First Day at St. Joseph’s.html"
              >My First Day at St. Joseph’s</a
            >
          </li>
          <li>
            <a
              href="../components/short stories/Once a master, he is my hero.html"
              >Once a master, he is my hero</a
            >
          </li>
          <li>
            <a href="../components/short stories/Stone benches.html"
              >Stone benches</a
            >
          </li>
          <li>
            <a href="../components/short stories/Sweet Separation.html"
              >Sweet Separation</a
            >
          </li>
          <li>
            <a href="../components/short stories/That Particular Hour.html">
              That Particular Hour</a
            >
          </li>
          <li>
            <a href="../components/short stories/The Girl with the Angel.html"
              >The Girl with the Angel</a
            >
          </li>
          <li>
            <a href="../components/short stories/The Place with Memories.html"
              >The Place with Memories</a
            >
          </li>
        </ul>
      </div>
      <!-- Essays -->
      <div class="column">
        <h2>Essays</h2>
        <ul>
          <li>
            <a href="../components/essay/A Heaven of Learning.html"
              >A Heaven of Learning</a
            >
          </li>
          <li>
            <a href="../components/essay/A Journey Beyond Classroom.html"
              >A Journey Beyond Classroom</a
            >
          </li>
          <li>
            <a href="../components/essay/A Legacy of Learning.html"
              >A Legacy of Learning</a
            >
          </li>
          <li>
            <a href="../components/essay/A Teacher’s Influence.html"
              >A Teacher’s Influence</a
            >
          </li>
          <li>
            <a href="../components/essay/Campus Life.html">Campus Life</a>
          </li>
          <li>
            <a href="../components/essay/Identity Card.html">Identity Card</a>
          </li>
          <li>
            <a href="../components/essay/Inside out.html">Inside Out</a>
          </li>
          <li>
            <a href="../components/essay/Legacy from Legacy.html"
              >Legacy from Legacy</a
            >
          </li>
          <li>
            <a href="../components/essay/The Campus Canteen.html"
              >The Campus Canteen</a
            >
          </li>
          <li>
            <a href="../components/essay/The Canteen.html">The Canteen</a>
          </li>
          <li>
            <a href="../components/essay/The classroom.html">The Classroom</a>
          </li>
          <li>
            <a href="../components/essay/The Corridor.html">The Corridor</a>
          </li>
          <li>
            <a href="../components/essay/The Mahe Ground.html"
              >The Mahe Ground</a
            >
          </li>
          <li>
            <a href="../components/essay/Where Dreams take shapes.html"
              >Where Dreams Take Shapes</a
            >
          </li>
          <li>
            <a href="../components/essay/Wonderful Journey.html"
              >Wonderful Journey</a
            >
          </li>
        </ul>
      </div>
      <!-- Articles -->
      <div class="column">
        <h2>Articles</h2>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1TV977sijADy-FCD1r9PzcQQ_0VfiVAL_/view?usp=sharing"
                target="_blank"
                ><p>Attrait Dovin Fedrick S</p>
                <h3>
                  AN ANALYSIS OF ALDOUS HUXLEY'S BRAVE NEW WORLD AS SCIENCE
                  FICTION THROUGH TECHNOLOGY
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1oSRtnOibCQ_Rqfnzti-qt3s8AVDuHn-f/view?usp=sharing"
                target="_blank"
                ><p>Caro Velma J</p>
                <h3>
                  A LITERARY EXPLORATION OF LANGSTON HUGHES AND ROBERT FROST
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1H_1qppYeIjr37D9Z1iYEJuMANEQkiqFt/view?usp=sharing"
                target="_blank"
                ><p>Dr. Charles Arockiasamy</p>
                <h3>EXAMINING LITERARY INNOVATION NARRATIVES</h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1TUZccapkDZdGr6YyZL3jO8sylCqPhToP/view?usp=sharing"
                target="_blank"
                ><p>Prasanth Arokia Samy D</p>
                <h3>
                  SOCIAL MEDIA-BASED LANGUAGE LEARNING APPS IN IMPROVING
                  SPEAKING CAPABILITIES
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1Ul4G1o9qKd_tnLBZsNtd20GGA4wRZ1xM/view?usp=sharing"
                target="_blank"
                ><p>Dhanush M</p>
                <h3>YOUTH AND SELF LOVE</h3></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="hero-section">
      <div class="hero-image">
        <img
          src="../img/iss.jpg"
          alt="Campus Life"
          style="pointer-events: all"
          data-rel="fh5-light-box-demo"
          data-href="https://online.fliphtml5.com/gqwfh/octg/"
          data-width="900"
          data-height="500"
          data-title=""
        />
      </div>
      <a href="" target=""></a>
      <div class="hero-content">
        <h1>Campus Life</h1>
        <p>
          "Sharing voices and valuing efforts" is the heartbeat of ENGZINE, a
          biannual department literary magazine that celebrates the diverse
          essence of campus life in its first issue. Every page reflects the
          affection, creativity, and insight of individuals who have worked
          together to make this edition an unforgettable experience. ENGZINE is
          more than just a collection of works.
        </p>
        <p>
          This edition explores the vibrant pulse of student life, capturing
          inspiring, thoughtful, and joyful moments. The poetry section evokes
          feelings of joy, nostalgia, and meditation, while the short stories
          transport readers to imaginative worlds with distinct viewpoints. In
          addition, we feature photographs, drawings, quizzes, and podcast
          interviews with students and teachers discussing literature, culture,
          and campus life, creating a multifaceted experience for ENGZINE. Every
          voice, idea, and story about campus life contributes to the collective
          narrative of our community, making it a dynamic ecosystem.
        </p>
        <button
          class="button"
          data-rel="fh5-light-box-demo"
          data-href="https://online.fliphtml5.com/gqwfh/octg/"
          data-width="900"
          data-height="500"
          data-title=""
        >
          Read Issue
        </button>
        <a
          href="https://drive.google.com/file/d/11OO7NOVEU_owHi1ejBAb3tNrLXthlb-V/view?usp=sharing"
          class="button"
          download
          target="_blank"
          >Download Issue</a
        >
      </div>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../js/footer1.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../js/script.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
