<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../img/favicon.ico" rel="icon" />
    <title>CURRENT ISSUE | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    />
    <link rel="stylesheet" href="../../css/issue.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <script src="//static.fliphtml5.com/web/js/plugin/LightBox/js/fliphtml5-light-box-api-min.js"></script>
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../js/header.js"></script>
    <special-header></special-header>
    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <h1 id="issn">ISSN: 3049-1363</h1>
    <!-- Content Here -->

    <div class="columns-section">
      <!-- Poems -->
      <div class="column">
        <h2>Poems</h2>
        <ul>
          <li>
            <a href="poems/Flap, flap.html">Flap, flap...</a>
          </li>

          <li>
            <a href="poems/Frozen Hearts, Burning Love.html"
              >Frozen Hearts, Burning Love</a
            >
          </li>
          <li>
            <a href="poems/MAYBE.html">Maybe</a>
          </li>
          <li>
            <a href="poems/Pray.html">Pray</a>
          </li>
          <li>
            <a href="poems/The Fallen Sun.html">The Fallen Sun</a>
          </li>
          <li>
            <a href="poems/Transpire (Annie).html">Transpire by Annie Lumina</a>
          </li>
          <li>
            <a href="poems/TRANSPIRE (Rex).html">Transpire by Allwin Rex</a>
          </li>
          <li>
            <a href="poems/Unlocking Life’s Happiness.html"
              >Unlocking Life’s Happiness</a
            >
          </li>
          <li>
            <a href="poems/When I Return to My Home.html"
              >When I Return to My Home</a
            >
          </li>
          <li>
            <a href="poems/Zenith.html">Zenith...</a>
          </li>
        </ul>
      </div>
      <!-- Short Stories -->
      <div class="column">
        <h2>Short Stories</h2>
        <ul>
          <li>
            <a href="short stories/A Secret Life of Couch Potatoes.html"
              >A Secret Life of Couch Potatoes</a
            >
          </li>
          <li>
            <a href="short stories/Beyond the Mystery.html"
              >Beyond the Mystery</a
            >
          </li>
          <li>
            <a href="short stories/Fear to Fame.html">Fear to Fame</a>
          </li>
          <li>
            <a href="short stories/The Brilliant Minds.html"
              >The Brilliant Minds</a
            >
          </li>
          <li>
            <a href="short stories/The Choice.html">The Choice</a>
          </li>
          <li>
            <a href="short stories/The Forgotten Secret.html"
              >The Forgotten Secret</a
            >
          </li>
          <li>
            <a href="short stories/The Girl Who Found Herself.html"
              >The Girl Who Found Herself</a
            >
          </li>
          <li>
            <a href="short stories/The Silent Burden.html">The Silent Burden</a>
          </li>
          <li>
            <a href="short stories/The Truth Beneath Lies.html"
              >The Truth Beneath Lies</a
            >
          </li>
          <li>
            <a href="short stories/Unknown Love.html">Unknown Love</a>
          </li>
          <li>
            <a href="short stories/When Hope Blossoms.html"
              >When Hope Blossoms</a
            >
          </li>
          <li>
            <a href="short stories/When Silence Spoke.html"
              >When Silence Spoke</a
            >
          </li>
        </ul>
      </div>
      <!-- issue_2/essays -->
      <div class="column">
        <h2>issue_2/essays</h2>
        <ul>
          <li>
            <a href="issue_2/essay/A Heaven of Learning.html"
              >A Heaven of Learning</a
            >
          </li>
          <li>
            <a href="issue_2/essay/Dreams to Reality.html">Dreams to Reality</a>
          </li>
          <li>
            <a href="issue_2/essay/How Situations Develop Over Time.html"
              >How Situations Develop Over Time</a
            >
          </li>
          <li>
            <a href="issue_2/essay/Perceptions Of Women Lensed Out.html"
              >Perceptions Of Women Lensed Out</a
            >
          </li>
          <li>
            <a href="issue_2/essay/The Hidden Journey.html"
              >The Hidden Journey</a
            >
          </li>
          <li>
            <a
              href="issue_2/essay/The Transpiration of God's Creation in Human Beings.html"
              >The Transpiration of God's Creation in Human Beings</a
            >
          </li>
          <li>
            <a href="issue_2/essay/Truths in Silence.html">Truths in Silence</a>
          </li>
        </ul>
      </div>
      <!-- Articles -->
      <div class="column">
        <h2>Articles</h2>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1TV977sijADy-FCD1r9PzcQQ_0VfiVAL_/view?usp=sharing"
                target="_blank"
                ><p>Attrait Dovin Fedrick S</p>
                <h3>
                  AN ANALYSIS OF ALDOUS HUXLEY'S BRAVE NEW WORLD AS SCIENCE
                  FICTION THROUGH TECHNOLOGY
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1oSRtnOibCQ_Rqfnzti-qt3s8AVDuHn-f/view?usp=sharing"
                target="_blank"
                ><p>Caro Velma J</p>
                <h3>
                  A LITERARY EXPLORATION OF LANGSTON HUGHES AND ROBERT FROST
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1H_1qppYeIjr37D9Z1iYEJuMANEQkiqFt/view?usp=sharing"
                target="_blank"
                ><p>Dr. Charles Arockiasamy</p>
                <h3>EXAMINING LITERARY INNOVATION NARRATIVES</h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1TUZccapkDZdGr6YyZL3jO8sylCqPhToP/view?usp=sharing"
                target="_blank"
                ><p>Prasanth Arokia Samy D</p>
                <h3>
                  SOCIAL MEDIA-BASED LANGUAGE LEARNING APPS IN IMPROVING
                  SPEAKING CAPABILITIES
                </h3></a
              >
            </li>
          </ul>
        </div>
        <div class="column-small">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1Ul4G1o9qKd_tnLBZsNtd20GGA4wRZ1xM/view?usp=sharing"
                target="_blank"
                ><p>Dhanush M</p>
                <h3>YOUTH AND SELF LOVE</h3></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../js/script.js"></script>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
