<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>EDITORIAL BOARD | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 4.8vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->

    <!-- Content Start -->
    <main class="content">
      <section class="section">
        <h2>Patrons</h2>
        <div class="card-container">
          <a
            href="https://www.sjctni.edu/admprofile.jsp?p=rec_message"
            class="card"
            target="_blank"
          >
            <p><strong>Rev. Dr. Pavulraj Michael SJ</strong></p>
            <p>Rector</p>
          </a>
          <a
            href="https://www.sjctni.edu/admprofile.jsp?p=sec_message"
            class="card"
            target="_blank"
          >
            <p><strong>Rev. Dr. K. Amal SJ</strong></p>
            <p>Secretary</p>
          </a>
          <a
            href="https://www.sjctni.edu/admprofile.jsp?p=pri_message"
            class="card"
            target="_blank"
          >
            <p><strong>Rev. Dr. S. Mariadoss SJ</strong></p>
            <p>Principal</p>
          </a>
        </div>
      </section>

      <section class="section">
        <h2>Advisor</h2>
        <div class="card-container">
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/T01EN06.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. V. L. Jayapaul</strong></p>
            <p>Associate Professor & Head</p>
            <p style="text-transform: none">
              Email: jayapaul_en1@mail.sjctni.edu
            </p>
          </a>
        </div>
      </section>

      <section class="section">
        <h2>Chief Editor</h2>
        <div class="card-container">
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/T22EN51.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Prof. D. Prasanth Arokia Samy</strong></p>
            <p>Assistant Professor of English</p>
            <p style="text-transform: none">
              Email: prasantharokiasamy_en2@mail.sjctni.edu
            </p>
            <p style="text-transform: none">Mobile: +91 9994494858</p>
          </a>
        </div>
      </section>

      <section class="section">
        <h2>Editors</h2>
        <div class="card-container">
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/F13EN11.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. J. Charles Arockiasamy</strong></p>
            <p style="text-transform: none">
              Email: charlesarockiasamy_en2@mail.sjctni.edu
            </p>
          </a>
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/T08EN02.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. A. Johnson Francis</strong></p>
            <p style="text-transform: none">
              Email: johnsonfrancis_en2@mail.sjctni.edu
            </p>
          </a>
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/T08EN03.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. D. Loyola Innaci</strong></p>
            <p style="text-transform: none">
              Email: loyolainnaci_en2@mail.sjctni.edu
            </p>
          </a>
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/F09EN02.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Dr. A. Ezhugnayiru</strong></p>
            <p style="text-transform: none">
              Email: ezhugnayiru_en2@mail.sjctni.edu
            </p>
          </a>
          <a
            href="https://www.sjctni.edu/Department/StaffProfile/F16EN13.pdf"
            class="card"
            target="_blank"
          >
            <p><strong>Mr. A. Ukkirapandian</strong></p>
            <p style="text-transform: none">
              Email: ukkirapandian_en2@mail.sjctni.edu
            </p>
          </a>
        </div>
      </section>
    </main>
    <!-- Content End -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
