<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>FAQ | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a
          href="https://www.youtube.com/@TheEngzine"
          class="btn-color-join"
          id="youtube"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          class="btn-color-join"
          id="instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          class="btn-color-join"
          id="x"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <div style="margin: 4.9vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="title-header">
      <h1>FAQ</h1>
    </section>
    <main>
      <h2>1. What Are We Looking For?</h2>
      <p>
        ENGZINE wants you! We're on the hunt for submissions of original,
        previously unpublished manuscripts of all lengths, ranging from short
        stories to complete book-length works for serialization. Engzine
        biannually publishes fiction, poetry and nonfiction, including stories,
        novels, novel excerpts, novellas, personal essays, humour, sketches,
        memoirs, literary biographies, commentary, reportage, interviews and
        features of interest to readers who take pleasure in storytelling,
        sharing experiences, engaging content or a narrative that compels, or a
        new perspective that blows minds, we want to hear it. If you've got a
        story that intrigues, with captivating twist showcasing innovative
        methods, or shedding light on underrepresented areas, your work could be
        exactly what we're looking for. We look for quality and originality of
        language and content. In addition to submissions for issues of Engzine
        Magazine itself, we also encourage submissions for our Podcast. Please
        read our Submission Guidelines for all information on manuscript
        formatting, word lengths, author payment and other policies.
      </p>
      <p>
        <strong>Please note:</strong>
        <i> We do not accept work that includes machine-generated text.</i>
      </p>
      <h2>2. Who Can Submit?</h2>
      <p>
        If you're a college student, Research Scholar, Faculty or an Alumni,
        you're in! We’re open to submissions from all disciplines, as long as
        your piece has a literary focus.
      </p>
      <h2>3. What Sort of literary contributions are We Looking For?</h2>
      <p>
        We want engaging and creative work in poetry, prose, research articles,
        paintings and podcasts that appeal to college community, but make sure
        it’s engaging and accessible to a general audience.
      </p>
      <h2>4. How to Submit Your Work?</h2>
      <p>
        We accept submissions through our electronic submission system.
        Submissions via postal services or email are also accepted. You can
        submit your work in any acceptable file formats include: .doc, .docx,
        .rtf, .pdf, .txt, .odf, .mp3, .mp4, .mov and .flv.
      </p>
      <p>
        <strong>Technical Issues:</strong>
        <i>
          If you encounter any technical difficulties or have questions, please
          Contact Us.</i
        >
      </p>
      <h2>5. How Often Is ENGZINE Published?</h2>
      <p>We publish online - Biannually in November & March.</p>

      <h2>6. Will I Be Credited?</h2>
      <p>
        Absolutely! You'll be credited for your work and we can include links to
        your social media if you’d like.
      </p>
      <h2>7. What If My Proposal Isn’t Accepted?</h2>
      <p>
        No worries! You can revise and resubmit for a future issue or adapt your
        proposal for a different format.
      </p>
      <h2>8. Who Will Read My Proposal?</h2>
      <p>
        Our entire editorial team will review your proposal. If they’re
        interested, they’ll get in touch with you.
      </p>
      <h2>9. When Will I Hear Back?</h2>
      <p>
        We aim to respond to submissions quickly. Editors might take a couple of
        weeks to review your submission and get back to you.
      </p>
      <h2>10. Can I Submit More Than One Proposal?</h2>
      <p>
        Yes, you can! Just make sure to indicate this on your submission or in
        your initial email.
      </p>
      <h2>11. What about the Submission Fees?</h2>
      <p>
        ENGZINE is a non-profit dedicated to supporting literary work. We don’t
        charge any fee for unsolicited submissions. We encourage you to read our
        magazine, which is free, before submitting.
      </p>
      <hr class="hr-4" />
      <h2>Tips for Success</h2>
      <p>
        <strong>Read ENGZINE: </strong>Familiarize yourself with our recent
        issues to understand the type of content we publish.
      </p>
      <p>
        <strong>Know Your Reader: </strong>Think about what they know and what
        they can gain from your content. Make it engaging and informative.
      </p>
      <p>
        <strong>Hook Them In: </strong>Start with a narrative hook to grab your
        reader’s attention and keep them hooked with a strong chain of ideas.
      </p>
      <p>
        <strong>Clear and Coherent: </strong>Ensure your work is clear, coherent
        and free of jargon.
      </p>
      <hr class="hr-4" />
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
