<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>Guidelines | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/guidelines.css" />
  </head>
  <body>
    <!-- Header Section Starts -->
    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a
          href="https://www.youtube.com/@TheEngzine"
          class="btn-color-join"
          id="youtube"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          class="btn-color-join"
          id="instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          class="btn-color-join"
          id="x"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <div style="margin: 5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- Content -->
    <section class="title-header">
      <h1>Submission Guidelines</h1>
    </section>
    <main>
      <p>1. Ensure your manuscript is original and previously unpublished.</p>
      <p>
        2. Follow our guidelines on manuscript formatting, word lengths, and
        author payment.
      </p>
      <p>3. We do not accept work that includes machine-generated text.</p>
      <p>
        4. Language: All submissions must be in English and previously
        unpublished.
      </p>
      <p>
        5. Translations: Translations are welcome but must be accompanied by the
        original work.
      </p>
      <p>
        6. Simultaneous Submissions: Allowed, but please notify us immediately
        if your work is accepted elsewhere.
      </p>
      <p>
        7. Quantity: Submit no more than six poems, one short story, one piece
        of prose, one research article, one painting, or one podcast at a time.
        Do not submit more than once per submission period.
      </p>
      <hr class="hr-4" />
      <h2>Formatting and Submission</h2>
      <p><strong>• Font:</strong> 12-point type - Times New Roman</p>
      <p><strong>• Margins:</strong> At least one inch</p>
      <p><strong>• Page Numbers:</strong> Sequentially numbered pages</p>
      <p><strong>• Fiction/Nonfiction:</strong> Double-spaced</p>
      <p><strong>• Poetry:</strong> Single-spaced</p>
      <p>
        <strong>• Contact Info:</strong> Author’s name, address, phone number,
        and email at the top of the first page
      </p>
      <p>
        <strong>• Bio:</strong> Include a brief biographical note with your
        submission
      </p>
      <hr class="hr-1" />
      <h2>Word Count Guidelines</h2>
      <p><strong>• Short Short Story:</strong> 500-2,000 words</p>
      <p>
        <strong>• Short Stories/Essays/One-Act Plays:</strong> 2,000-15,000
        words
      </p>
      <p>
        <strong>• Novellas/Long Works:</strong> 15,000-40,000 words (Submit the
        first 15,000 words with a synopsis)
      </p>
      <p>
        <strong>• Serialization:</strong> First chapter and a one-page synopsis
        (complete manuscript requested if suitable)
      </p>
      <p><strong>• Poetry:</strong> Up to five poems in a single file</p>
      <p>
        <strong>• Audio Prose:</strong> Up to ten minutes in MP3 format, max
        50mb
      </p>
      <p>
        <strong>• Audio Poetry:</strong> Up to ten minutes in MP3 format, max
        50mb
      </p>
      <p>
        <strong>• Video:</strong> Short films/documentaries up to 15 minutes in
        .mp4 or .mov format, max 50mb
      </p>
      <p><strong>• Research Articles:</strong> Up to 1,500 words</p>
      <hr class="hr-1" />
      <h2>Online Submissions</h2>
      <p>
        Use our official email id
        <a href="mailto:sjcengzine@mail.sjctni.edu" style="text-transform: none"
          >sjcengzine@mail.sjctni.edu</a
        >
        for all digital submissions.
      </p>
      <h2>Hard-Copy Submissions</h2>
      <p>
        Postmark deadlines are the last day of the submission months of October
        & February. Include a brief cover letter and a self-addressed post.
      </p>
      <p style="padding-left: 20px"><strong>Send to:</strong></p>
      <div class="indent">
        <p>ENGZINE Submissions,</p>
        <p>PG & Research Department of English,</p>
        <p>St. Joseph’s College (Autonomous),</p>
        <p>Tiruchirappalli – 620002, Tamil Nadu, India.</p>
        <p>9994494858</p>
      </div>
      <hr class="hr-1" />
      <br />
      <p>
        All contributions are copy-edited before publication, but the
        responsibility for accuracy lies with the author. If you have questions,
        reach out to us
        <a href="mailto:sjcengzine@mail.sjctni.edu" style="text-transform: none"
          >sjcengzine@mail.sjctni.edu</a
        >
      </p>
      <p>Ready to share your voice? We can't wait to read your submission.</p>
    </main>
    <!-- Content -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
