<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon" />
    <title>PODCAST | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../js/header1.js"></script>
    <special-header></special-header>

    <div style="margin: 4.5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <section id="podcasts" style="padding: 40px 20px">
      <div class="container" style="max-width: 1200px; margin: 0 auto">
        <h2 class="podcast-title">Podcast</h2>
        <p class="podcast-subtitle">
          Engzine - "Sharing voices, valuing efforts"
        </p>

        <!-- First Video Section -->
        <div class="first-video">
          <iframe
            class="featured-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/dawXINoFHrs?si=5zmfike2kHMuaQHm"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>

        <!-- Smaller Videos Section -->
        <div class="video-grid">
          <iframe
            class="small-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/s5PRxCKSZK0?si=MpL5cEmL8wXIxAhK"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            class="small-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/WmAOD2TORdc?si=LBmR28Sruhqrpvyr"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            class="small-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/lJWIakrNPoA?si=IiMgwhKGWqIN2LfY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            class="small-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/h9Q_eeV9BWY?si=3lOiQkPQtfAZWt8P"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            class="small-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/8-5GRCBE-3Y?si=5Dl4CNy1ow-EjadV"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            class="small-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/-WtfB2EaEeo?si=gVTbbn_s4FRZeMqP"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <iframe
            class="small-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/AymkUKUYV2A?si=wl_BRsh7IaAZP9hF"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../js/footer1.js"></script>
    <!-- Footer End -->
    <!-- JS link -->

    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
