<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a
          href="https://www.youtube.com/@TheEngzine"
          class="btn-color-join"
          id="youtube"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          class="btn-color-join"
          id="instagram"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          class="btn-color-join"
          id="x"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>
    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Indelible Imprint of St. Joseph's College</h2>

      <div class="poem">
        <p>Amidst the halls of learning's warmth,</p>
        <p>Minds gather, hearts beat with purpose and form,</p>
        <p>St Joseph's College shines, a guiding light,</p>
        <p>Leading seekers through life's challenges and night.</p>
        <br />

        <p>In Trichy's heart, knowledge and wisdom grow,</p>
        <p>Futures rise, and dreams begin to show,</p>
        <p>The Jesuit spirit, a burning flame,</p>
        <p>Illuminates paths, through life's joys and pains.</p>
        <br />

        <p>Within these walls, young minds take flight,</p>
        <p>Pursuing truth, through day and endless night,</p>
        <p>Scholars, saints, and visionaries inspire,</p>
        <p>Leading us to excellence, to reach and acquire.</p>
        <br />

        <p>Lecture halls buzz with ideas and debate,</p>
        <p>Professors guide, mentors navigate,</p>
        <p>The quadrangle's peace, a refuge from life's storm,</p>
        <p>Friendships bloom, memories forever warm.</p>
        <br />

        <p>St Joseph's College, a place to grow,</p>
        <p>Where character and heart entwine and show,</p>
        <p>A sanctuary of learning, love, and light,</p>
        <p>Shaping leaders, shining through life's darkest night.</p>
        <br />

        <p>A legacy of excellence, a noble name,</p>
        <p>We'll hold the line, through life's joys and pains,</p>
        <p>Embodying values, forever true,</p>
        <p>St Joseph's College, forever shining through.</p>
        <br />

        <p>In Trichy's heart, a legacy remains,</p>
        <p>St Joseph's College, where minds obtain,</p>
        <p>A Jesuit sanctuary, nurturing souls,</p>
        <p>Producing greatness, in every goal.</p>
        <br />

        <p>With every step, a helping hand,</p>
        <p>Nurturing the poor, across this land,</p>
        <p>Compassionate care, for nature's might,</p>
        <p>Shining bright, like a guiding light.</p>
        <br />

        <p>Intellectual formation, side by side,</p>
        <p>Social concerns, faith formation entwined,</p>
        <p>Critical thought, creative flair,</p>
        <p>Shaping leaders, with hearts that care.</p>
        <br />

        <p>Magis momentum, striving higher still,</p>
        <p>Cura personalis, care for each thrill,</p>
        <p>Men and women for others, the Jesuit way,</p>
        <p>Educating minds, touching hearts each day.</p>
        <br />

        <p>St Joseph's College, a beacon bright,</p>
        <p>Guiding seekers, through life's plodding night,</p>
        <p>A haven of hope, where hearts find rest,</p>
        <p>And minds expand, to their greatest best.</p>
        <br />

        <p>In Trichy's crown, a gem shines bright,</p>
        <p>St Joseph's College, a guiding light,</p>
        <p>Nurturing minds, and hearts so true,</p>
        <p>Producing greatness, for me and you.</p>
        <br />

        <p>Igniting minds, with intellectual fire,</p>
        <p>Compassionate hearts, with social desire,</p>
        <p>Faith formation, guiding every step,</p>
        <p>Shaping leaders, with a noble creep.</p>
        <br />

        <p>We breathe, we think, we love, we grow,</p>
        <p>Together, in this sacred flow,</p>
        <p>Where Jesuit ideals, ignite the mind,</p>
        <p>To serve, to love, to leave behind.</p>
        <br />

        <p>Who am I? What is my role?</p>
        <p>Questions swirl, like Trichy's evening roll,</p>
        <p>But amidst doubts, a voice whispers low,</p>
        <p>"You are more, than what you know."</p>
      </div>
      <p class="author">by BULLA CHANTI BABU</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
