<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">My Classroom</h2>

      <div class="poem">
        <p>"A sea of unknown faces, a room so new</p>
        <p>Mixed feelings swirled, what to do?</p>
        <p>First day of college, a chapter unfolds</p>
        <p>Excitement and nerves, young hearts told</p>
        <br />
        <p>Friendships blossomed, amidst doubts and fears</p>
        <p>A best friend emerged, through laughter and tears</p>
        <p>But amidst the joy, conflicts did arise</p>
        <p>Ego and misunderstandings, a toxic surprise</p>
        <br />
        <p>Groups formed, divisions grew</p>
        <p>Confusion reigned, what to do?</p>
        <p>Judging others, a mistake so grand</p>
        <p>A lesson learned, in this classroom land</p>
        <br />
        <p>Yet, amidst the chaos, love did shine</p>
        <p>Teachers guided, with hearts so divine</p>
        <p>Sharing food, laughter, and glee</p>
        <p>A sense of belonging, for you and me</p>
        <br />
        <p>A classroom should be, a haven of peace</p>
        <p>Where hearts connect, and love increase</p>
        <p>No room for ego, or judgmental eyes</p>
        <p>Just love, laughter, and sunny skies"</p>
      </div>
      <p class="author">by ANITHA</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
