<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Stepping out with HCC’s Grace</h2>

      <div class="poem">
        <p>Entering into your was still a dream How did I ever step in</p>
        <p>With a lot of hopes, desires, dreams</p>
        <p>From being nothing as a toddler</p>
        <p>To be this much as an adult</p>
        <p>You have molded me as such</p>
        <p>The way you need and i need</p>
        <p>Hardships was the path i crossed</p>
        <p>But u proved that only</p>
        <p>Crossing thorns i can reach the bed of roses</p>
        <br />

        <p>Whatever i am now and after</p>
        <p>Is all with your boundless graces</p>
        <p>Nothing can suffice</p>
        <p>All that you have given to me</p>
        <br />

        <p>To all good soulful people</p>
        <p>Life lessons, Emotional stuff</p>
        <p>You have given me everything</p>
        <br />

        <p>Heart cries in pain</p>
        <p>As its time to bid you " Buh Bye "</p>
        <br />

        <p>All that is left is</p>
        <p>The endless gratitude and ecstasy</p>
        <p>That i hold when i step out</p>
        <p>To over the memories filled moments and life lived</p>
        <br />

        <p>HCC you are special indeed</p>
        <p>Holy Cross Long May She Live</p>
      </div>
      <p class="author">by Miraclin Nivesha M</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../js/footer.js"></script>
    <!-- Footer End -->
    <script src="../../js/script.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
