<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Still!</h2>

      <div class="poem">
        <p>Campus ignites</p>
        <p>My dead coal torches</p>
        <p>Thousand young minds</p>
        <p>Scattered on earth nook and corner…</p>
        <p>Still!</p>
        <br />
        <p>Teaching slips into</p>
        <p>Multifaceted forms</p>
        <p>Stretches boundless wings</p>
        <p>Fluttering against the ranks…</p>
        <p>Still!</p>
        <br />
        <p>Zen touch a painless persuasion</p>
        <p>Remains painful when</p>
        <p>Gen Z sings</p>
        <p>Muttering against the morals…</p>
        <p>Still!</p>
        <br />
        <p>Academic strain</p>
        <p>Slowly feigns my brain</p>
        <p>Only slogan</p>
        <p>Performance based…</p>
        <p>Still!</p>
        <br />
        <p>Teaching freezes</p>
        <p>Technique breeches</p>
        <p>Reminiscence whispers</p>
        <p>You are a teacher…</p>
        <p>Still!</p>
        <br />
        <p>Dream triggers</p>
        <p>My fall forms</p>
        <p>Unstoppable ripples</p>
        <p>Touching my reason…</p>
        <p>Still!</p>
        <br />
        <p>With all shortfalls</p>
        <p>Never fails uttering</p>
        <p>My campus</p>
        <p>Continuous love…</p>
        <p>Still!</p>
        <br />
        <p>Everything</p>
        <p>Ending In EMI</p>
        <p>Endless Mission in creating Intellectual</p>
        <p>No end…</p>
        <p>Still!</p>
      </div>
      <p class="author" style="align-items: right">
        by Dr. J. Charles Arockiasamy
      </p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../js/footer.js"></script>
    <!-- Footer End -->
    <script src="../../js/script.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
