<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">The Shoulder That Heals</h2>

      <div class="poem">
        <p>You are my Rosy Morn</p>
        <p>My mirth was all because of you</p>
        <p>You came as my miraculous miracle</p>
        <p>Who flings all my sorrows</p>
        <br />

        <p>Where you be my site of emotion</p>
        <p>As happy tears</p>
        <p>Tears of delight</p>
        <br />

        <p>Your shoulder becomes a medicine</p>
        <p>To the sickened soul of mine</p>
        <br />

        <p>From all pampering to</p>
        <p>To the cradle of love</p>
        <p>It's a blissful journey</p>
        <p>A constant journey</p>
        <br />

        <p>From holding hands as friends</p>
        <p>To holding me as a daughter</p>
        <p>Its a beautiful bond</p>
        <p>That binds us together for many more years</p>
        <p>As an eternal chapter</p>
        <br />

        <p>In our book of Amour</p>
        <p>Love you and Miss you more</p>
      </div>
      <p class="author">by Miraclin Nivesha M</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
