<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Timeless Tides</h2>

      <div class="poem">
        <p>A universe of the curious mind let’s behold.</p>
        <p>A unique place to cure, to learn, to belief.</p>
        <p>A place to dwell a place to nurture and uphold.</p>
        <p>A place where diverse dwell to follow one belief.</p>
        <br />
        <p>The young the wise together like a beautiful blossom.</p>
        <p>The joy, the pain, the happiness in one Cosmo.</p>
        <p>The wise, a fine wine for its young bridegroom.</p>
        <p>The dream it falls, it blossoms, like a season rose.</p>
        <br />
        <p>Time is tedious in the boring class,</p>
        <p>Yet too nimble in better days.</p>
        <p>Time in its season will show the memories of the last,</p>
        <p>Unbeknownst wishing for holidays.</p>
        <br />
        <p>You will be missed.</p>
        <p>I will be missed.</p>
      </div>
      <p class="author">by Tsiidovi</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
