<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="/js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Whispers of Timeless Youth</h2>
      <!-- <p class="author">
        by Theva Kiruba, Alumnus of Holy Cross College, Trichy
      </p> -->
      <div class="poem">
        <p>In the cradle of dreams, where aspirations soar,</p>
        <p>My college campus, a radiant core.</p>
        <p>Echoes of mirth, forever begun.</p>
        <p>Beneath the venerable oaks, tales softly spun,</p>
        <p>Morning dew on verdant blades,</p>
        <p>Dawn's hues in delicate cascades.</p>
        <p>Classrooms brimming with fervent minds,</p>
        <p>A mosaic of thoughts, intricately aligned.</p>
        <p>Hallways alive with untold lore,</p>
        <p>Friendships blooming, treasures galore.</p>
        <p>Library's silence, a hallowed retreat,</p>
        <p>Pages turning, hearts in quiet beat.</p>
        <p>Cafeteria's hum, a chorus of delight,</p>
        <p>Moments of joy, in memory's sight.</p>
        <p>Evening strolls by the serene lake,</p>
        <p>Reflections of dreams, ripples we make.</p>
        <p>Under the moon's tender embrace,</p>
        <p>Nights of wonder, a celestial grace.</p>
        <p>Stars above, our silent guides,</p>
        <p>In this sanctuary, where our spirit abides.</p>
        <p>Memories carved by time's gentle hand,</p>
        <p>A haven, a promised land.</p>
        <p>Whenever I reminisce, my heart takes flight,</p>
        <p>Breathing life anew, in the soft twilight.</p>
        <p>These timeless days, a cherished song,</p>
        <p>In the garden of my soul, they belong.</p>
        <p>My college campus, a masterpiece of art,</p>
        <p>Forever alive, within my heart</p>
      </div>
      <p class="author">by Subhasini</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
