<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">
        A Transition from Present to Future and from Future to Present
      </h2>

      <div class="poem">
        <p>As I was writing in my classroom,</p>
        <p>A vision appeared in my mind:</p>
        <p>At the age of sixty, I am driving a car</p>
        <p>With my grandchildren.</p>
        <br />

        <p>I am in my classroom, writing.</p>
        <p>Suddenly, my vision blurs.</p>
        <p>I am sixty, in my car,</p>
        <p>Thinking of my present, at twenty-one—</p>
        <p>My college days.</p>
        <br />

        <p>How ironic it is, the feeling is ecstasy.</p>
        <p>Wonderful—that’s all I can describe.</p>
        <br />

        <p>I am writing in my classroom at twenty-one,</p>
        <p>Meanwhile, driving a car with my grandchildren.</p>
        <br />

        <p>From the present, I think of the future;</p>
        <p>From the future, I think of the present.</p>
        <p>Both satisfy my heart.</p>
        <br />

        <p>Life is very short;</p>
        <p>Nostalgia is all we’ve got.</p>
        <p>The past is so beautiful, full of memories—</p>
        <p>For it moves the present.</p>
      </div>
      <p class="author">by Rojith Raja</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
