<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Echoes of Victory</h2>

      <div class="poem">
        <p>Through winding hours and restless days,</p>
        <p>We danced in practice, through a hazy maze.</p>
        <br />
        <p>Some faltered, hesitant, distant in thought,</p>
        <p>While others forged on, by resolve gently caught.</p>
        <br />
        <p>In the echo of struggle, we learned to stand,</p>
        <p>Pulling each other with a steady hand.</p>
        <br />
        <p>I stumbled once, a standard askew,</p>
        <p>And in that moment, the shadows grew.</p>
        <br />
        <p>Yet as the victor’s name filled the air,</p>
        <p>Our triumph soared, beyond compare.</p>
        <br />
        <p>In that instant, the world felt small,</p>
        <p>For we had risen—together, we stood tall.</p>
      </div>
      <p class="author">by ANITHA M</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
