<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">From Start to Forever</h2>

      <div class="poem">
        <p>In the first minute of our birth</p>
        <p>We meant nothing to each other.</p>
        <p>At first sight of us,</p>
        <p>We were strangers to each other.</p>
        <p>In the first meeting of us,</p>
        <p>We were classmates for each other.</p>
        <p>In the first conversation of us,</p>
        <p>We were friends for each other.</p>
        <p>In the first problem of us,</p>
        <p>We were soulmates for each other.</p>
        <p>In the last minute of our deaths,</p>
        <p>We will do everything for each other.</p>
        <p>From Nothing to Everything</p>
        <p>We have come a long way together.</p>
      </div>
      <p class="author" style="align-items: right">by Merline I</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
