<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Peaceful drizzles!</h2>

      <div class="poem">
        <p>It was a chill evening,</p>
        <p>Slowly the dark clouds are running;</p>
        <p>And occupy the sky,</p>
        <p>I feel high.</p>
        <br />
        <p>It was a peaceful greenish place,</p>
        <p>I have fond to gaze;</p>
        <p>Residency was standing alone,</p>
        <p>Our Lady of Lourdes stands as backbone.</p>
        <br />
        <p>Leaves are dancing with the wind,</p>
        <p>Slowly the drizzles are shined;</p>
        <p>A awe way between the grassland,</p>
        <p>I begin to raise my hand,</p>
        <p>To feel the raindrops,</p>
        <p>Drizzles on leaves began to sparks</p>
        <p>I could see the reflection of the residency</p>
        <p>In the watery way, it's awes..!</p>
      </div>
      <p class="author" style="align-items: right">by SUBASHINI S</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
