<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">The Poetic Thread of Us</h2>

      <div class="poem">
        <p>I hold my pen.</p>
        <p>Close my eyes for a minute.</p>
        <p>Then think about our memories.</p>
        <p>I dropped some words.</p>
        <p>And it became poetry!</p>
        <p>The reason behind my poetry is you.</p>
        <p>My heart will always cherish your memories.</p>
        <p>The way we enjoyed our college days is still remembered.</p>
        <p>The memories that you gave made me a scribbler.</p>
        <p>I feel like a blessing to meet people like you.</p>
        <p>I still miss all our beautiful moments.</p>
        <p>And now I'm seriously longing for those throwback moments.</p>
        <p>Though this separation is harder</p>
        <p>I want to tell you that</p>
        <p>I'm always there for you.</p>
        <p>And I will surely be the remedy in your bitter days.</p>
        <p>The bond between us is like a sky</p>
        <p>No one can ever separate us.</p>
        <p>So, like a cloud, we will meet soon.</p>
        <p>And I hope that we both cherish our days like olden days.</p>
      </div>
      <p class="author" style="align-items: right">by Merline</p>
    </div>
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
