<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Flap, flap…</h2>

      <div class="poem">
        <p>When I was a school kid</p>
        <p>I received a gift from my dad</p>
        <p>A cycle</p>
        <p>When I peddled</p>
        <p>I could see fragile soft feathers protruding</p>
        <p>From my shoulder</p>
        <p>I imagined</p>
        <p>Very soon I would be an angel</p>
        <p>AND</p>
        <p>I could fly</p>
        <p>I could summon people</p>
        <p>I could perform miracles</p>
        <p>I could …</p>
        <p>When I exclaimed</p>
        <p>My cool mother wore a mysterious, painful smile</p>
        <p>I deliberately ignored.</p>
        <br />

        <p>During my college</p>
        <p>Again a gift from dad</p>
        <p>Wow</p>
        <p>A bike</p>
        <p>Fully developed wings.</p>
        <p>I could whirr around</p>
        <p>The crowded roads, lanes and streets</p>
        <p>I believed, I could fly</p>
        <p>I proclaimed</p>
        <p>I notice the same smile</p>
        <p>I ignored it again.</p>
        <p>Ignored even the tears</p>
        <p>Busy and enthralled ready to take off</p>
        <p>I try, tried, trying</p>
        <p>Dad … cried out</p>
        <p>Something is heavy, I could n’t fly</p>
        <p>Not even flap my wings</p>
        <p>Tear glands flooded and exploded</p>
        <p>Leave it my dear daughter</p>
        <p>You just flap them</p>
        <p>Cannot fly</p>
        <p>He insisted don’t even dare</p>
        <p>Don’t fly ?</p>
        <p>But why?</p>
        <p>What are wings for?</p>
        <p>I look around.</p>
        <p>Now, I could not ignore my mom’s smile, pain and tears</p>
      </div>

      <p class="author">by Dr.S.S.Kavitha</p>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
