<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Frozen Hearts, Burning Love</h2>

      <div class="poem">
        <p>At first, they met new faces,</p>
        <p>But one stood out, fixed in their lives.</p>
        <p>He tried to convey his love to her,</p>
        <p>But at first, he failed.</p>
        <br />

        <p>He sought another way to express his heart,</p>
        <p>Yet still, he faltered.</p>
        <p>Finally, his love reached her,</p>
        <p>And he loved her even more.</p>
        <br />

        <p>He admired her attitude, her childish ways,</p>
        <p>Caring for her with all his soul.</p>
        <p>Every day, he longed to see her,</p>
        <p>But she was burdened by fear.</p>
        <br />

        <p>Her fear was of her parents’ judgment,</p>
        <p>She felt she was betraying them.</p>
        <p>Yet she couldn’t let go of him,</p>
        <p>For her love for him was just as strong.</p>
        <br />

        <p>He soothed her worries, calmed her fears,</p>
        <p>Becoming her protector, her shield.</p>
        <p>Together, they faced countless barriers,</p>
        <p>But their bond endured.</p>
        <br />

        <p>Their love lasted for years,</p>
        <p>Dreaming of a new beginning with each new year.</p>
        <p>Wherever they went, they created moments,</p>
        <p>Memories etched in time.</p>
        <br />

        <p>But a small distance brought great sorrow.</p>
        <p>They missed each other deeply,</p>
        <p>And the distance bred difficulties,</p>
        <p>Until two years passed, and they reunited.</p>
        <br />

        <p>Yet their love was no longer the same.</p>
        <p>Small fights grew into daily battles,</p>
        <p>And the little cracks broke them apart.</p>
        <p>They lived only with memories of what once was.</p>
        <br />

        <p>Later, she carried his memories,</p>
        <p>Not his presence,</p>
        <p>Living silently with the pain she couldn’t express,</p>
        <p>He, too, bore his pain in quiet solitude.</p>
        <br />

        <p>Family and circumstances tore them apart,</p>
        <p>Changing their minds, their hearts for others.</p>
        <p>Two little hearts, broken forever,</p>
        <p>Finally, Frozen hearts melted by burning love.</p>
      </div>

      <p class="author">by Mangaiyarkarasi Periyasamy</p>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
