<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">MAYBE</h2>

      <div class="poem">
        <p>They call it lust, but for me, it is a solid, unwavering love.</p>
        <p>
          I don't see myself as an alpha, not to love her. This is simply me,
          and that is her.
        </p>
        <p>Perhaps it’s because my father failed me,</p>
        <p>or perhaps because I never had a brother.</p>
        <p>
          My religion taught me that lust is a sin, & my 27 years have only been
          shaped by girls.
        </p>
        <br />

        <p>
          Maybe it’s because hatred grew in me when a man misbehaved on a bus.
        </p>
        <p>A caring friend never became the loving husband.</p>
        <p>
          Maybe they don’t understand the weight of female pain, nor see me as
          equal.
        </p>
        <p>Maybe they cheat and move on,</p>
        <p>while society still blames the woman for every fault.</p>
        <p>Maybe because I fear my freedom slipping away,</p>
        <p>maybe because their lustful eyes devour me when I’m alive.</p>
        <br />

        <p>Maybe because my childhood was scarred by a "loving" teacher,</p>
        <p>and I didn’t even know that loving a girl could be a crime.</p>
        <p>They said it was friendship, but it turned into love.</p>
        <p>I had no one to share my thoughts with, so I decided for myself.</p>
        <p>Maybe because my mother never lived the life she wanted.</p>
        <p>
          Maybe because a girl’s life is a rollercoaster after those tiny
          creatures arrive,
        </p>
        <p>while a boy’s path remains unchanged.</p>
        <p>
          Maybe because I don’t know who I am, and so I become who they want me
          to be.
        </p>
        <br />

        <p>
          Maybe because with men, my likes and interests are always second
          place.
        </p>
        <p>
          Maybe because I never had a chance to embrace themselves as women.
        </p>
        <p>Maybe because I was teased as a boy,</p>
        <p>
          judged by my clothes, my mannerisms, the way I walk, sit, and speak.
        </p>
        <p>Maybe because I had a moustache due to hormonal shifts.</p>
        <p>
          Maybe because I didn’t fit into the mould that women were forced to
          follow.
        </p>
        <p>
          Perhaps because I no longer wait for someone’s "good mood" to ask for
          what I want,
        </p>
        <p>or because I refuse to beg for permission to spend my own money.</p>
        <p>Maybe because with her, it doesn't matter whose opinion reigns.</p>
        <p>Maybe because with her, there is no ego to feed,</p>
        <p>only warmth and trust that feels like home.</p>
        <br />

        <p>It was never lust…</p>
        <p>People call me crazy, stupid, emotional…</p>
        <p>I may never know the stories of others,</p>
        <p>but this is me, who wonders why not be with a woman,</p>
        <p>if that’s what frees me, strengthens me.</p>
        <p>I don’t blame them all,</p>
        <p>but in my story, there are no "good ones."</p>
        <p>
          I don’t expect people to accept me; it took years for me to accept
          myself,
        </p>
        <p>so why would they accept me?</p>
        <p>
          And maybe, just maybe, it is a woman who proved all these points
          wrong,
        </p>
        <p>
          loving me unconditionally, without judging my appearance, my status,
          my worth.
        </p>
        <p>Emotional fool that I am, I fell in love with her.</p>
        <p>The dilemma circles in my mind—am I homo or hetero?</p>
        <p>If it’s lust, I’ve never experienced or expected anything,</p>
        <p>but if it’s love, then I am purely homo.</p>
        <p>
          I am greedy in love because I never got enough, so I took it wherever
          it came from, regardless of its source.
        </p>
      </div>

      <p class="author">by Debora D.M.</p>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
