<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Pray</h2>

      <div class="poem">
        <p>I thought we'd meet again,</p>
        <p>wash away our sins,</p>
        <p>love deeper, stronger,</p>
        <p>unafraid of time.</p>
        <p>We'd marry,</p>
        <p>wander the world</p>
        <p>just us, just love,</p>
        <p>no maps, no end.</p>
        <br />

        <p>We'd fight, maybe,</p>
        <p>but in the night,</p>
        <p>your arms would hush the anger,</p>
        <p>turn cold air into fire.</p>
        <p>Wrapped in blankets,</p>
        <p>I'd wonder</p>
        <p>was the warmth from them,</p>
        <p>or from you?</p>
        <p>Always you.</p>
        <br />

        <p>We'd make love like a promise,</p>
        <p>a lesson for the world</p>
        <p>this is how love should be.</p>
        <p>So I pray</p>
        <p>not to gods,</p>
        <p>not to fate,</p>
        <p>but to you.</p>
        <p>Come back.</p>
      </div>

      <p class="author">by Jeevanandham M</p>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
