<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Transpire</h2>

      <div class="poem">
        <p>In the world full of story,</p>
        <p>A girl stood in lonely.</p>
        <p>Crookedness that others bring,</p>
        <p>She felt alone, like a broken wing.</p>
        <br />

        <p>The world around her was loud and bright,</p>
        <p>While all she seen in her life was night.</p>
        <p>The weight of others' words was tough,</p>
        <p>But at one point, she had enough.</p>
        <br />

        <p>Through every struggle, every tear,</p>
        <p>She learned to face her hidden fear.</p>
        <p>For every time people turned away,</p>
        <p>She learned to shine in her own way.</p>
        <br />

        <p>The scars they left made her to rise,</p>
        <p>From dark night, she reached for skies.</p>
        <p>Now she stands with head held high,</p>
        <p>No longer confined by others’ lie.</p>
        <br />

        <p>Her spirit glows, a smile so bright,</p>
        <p>Transpired from shadows into light.</p>
        <p>For in each struggle, she found her fire,</p>
        <p>She found her voice, she learned to transpire.</p>
        <br />

        <p>So let them walk away, let them flee,</p>
        <p>Her heart is prepared to fight.</p>
        <p>From loneliness, she’s now set free,</p>
        <p>To be herself—a shining light.</p>
      </div>

      <p class="author">by A. Annie Lumina (23PEN102)</p>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
