<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Unlocking Life’s Happiness</h2>

      <div class="poem">
        <p>Always remember one thing in your life</p>
        <p>Be Cool and face every problem</p>
        <p>Chill your soul with Positive vibes</p>
        <p>Don't worry about Anything</p>
        <p>Everything happens for a reason</p>
        <p>Faith in God</p>
        <p>Good things will happen to you</p>
        <p>Have Hope with yourself</p>
        <p>Improve your good qualities</p>
        <p>Jovial all your days</p>
        <p>Kill all your worries and</p>
        <p>Love Everyone wholeheartedly and, Be</p>
        <p>Merciful to make your life meaningful</p>
        <p>Nobody going to Judge you</p>
        <p>Obsess your mind and Spread</p>
        <p>Positive Vibes in all your circumstances</p>
        <p>Quieten sometimes to hear your inner voice</p>
        <p>Remove all your bitter incidents</p>
        <p>Stay strong to handle every obstacle</p>
        <p>Treat everyone as your friend</p>
        <p>Understand people's feelings and</p>
        <p>Value their emotions too</p>
        <p>Waffle to improve your knowledge</p>
        <p>Xylophone to have some entertainment</p>
        <p>You need yourself to find your Happy soul</p>
        <p>Zany your own life to cherish Always !!!</p>

        <br />
        <p>Now view the First Letter of each line...</p>
      </div>

      <p class="author">by Merline I</p>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
