<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../../img/favicon.ico" rel="icon" />
    <title>POEM | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../css/poem.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../../js/header2.js"></script>
    <special-header></special-header>

    <div style="margin: 6vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <div class="poem-container">
      <h2 class="text-primary">Zenith…</h2>

      <div class="poem">
        <p>Zestful zenith emotions</p>
        <p>Dies into the intellectual fortress...</p>
        <p>Lustre self-fathom deep</p>
        <p>Breaks my silence</p>
        <p>Turns into broken voices...</p>
        <br />

        <p>No words only emotions</p>
        <p>Wings into words beautiful dresses...</p>
        <p>Love walks into creep</p>
        <p>Spills my senses</p>
        <p>Runs into countless races...</p>
        <br />

        <p>Murmuring emotions</p>
        <p>Flies and fries die under stress...</p>
        <p>Longing self stretches peep</p>
        <p>Breaches my resilience</p>
        <p>Tunes into endless noises…</p>
        <br />

        <p>Queue words my passion</p>
        <p>Hurdles under caress…</p>
        <p>Restless aspirations deep</p>
        <p>Reaches all myself silence</p>
        <p>Fortunes with three roses…</p>
      </div>

      <p class="author">by Dr. J. Charles Arockiasamy</p>
    </div>

    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../../js/footer2.js"></script>
    <!-- Footer End -->
    <script src="../../../js/script.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
  </body>
</html>
