<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../img/favicon.ico" rel="icon" />
    <title>COLLEGE | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 4.5vh">
      <h1 style="color: rgb(255, 255, 255)">.</h1>
    </div>
    <!-- Header Section Ends -->
    <h1
      style="
        color: rgb(0, 0, 0);
        text-align: end;
        margin-top: 40px;
        margin-right: 10px;
      "
    >
      ISSN: 3049-1363
    </h1>

    <!-- College Section Starts -->
    <section class="about-section">
      <!-- Text -->
      <div class="about-text">
        <h2>About Our College</h2>
        <p>
          St. Joseph's College (Autonomous), Tiruchirappalli, established in
          1844, is renowned for its academic excellence and commitment to
          holistic development. The college offers a wide range of
          undergraduate, postgraduate, and research programs, focusing on
          academic rigor while promoting values of integrity, social
          responsibility, and moral leadership.
        </p>

        <p>
          Guided by the motto 'Pro Bono et Vero' (for the Good and the True),
          the college integrates scholarly achievement with moral meaning. It is
          an autonomous institution affiliated with Bharathidasan University and
          is dedicated to providing educational opportunities for all,
          especially underserved communities.
        </p>

        <p>
          St. Joseph's College fosters an inclusive environment, preparing
          students to become thoughtful leaders and compassionate members of
          society. The institution is dedicated to intellectual growth and
          social equity, continually working towards creating a world where
          knowledge and values converge.
        </p>
      </div>
      <!-- Image -->
      <div class="about-image" id="college  ">
        <img src="../../img/SJC7.jpg" alt="English Department" />
      </div>
    </section>

    <!-- College Section Ends -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <!-- Footer End -->

    <!-- JS link -->
    <script src="../../js/footer.js"></script>
    <script src="../../js/script.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
