<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joe Rakesh" />
    <!-- Favicon -->
    <link href="../../img/favicon.ico" rel="icon" />
    <title>ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/issue.css" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <script src="../../js/header.js"></script>
    <special-header></special-header>

    <div style="margin: 4.4vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- About Section Start -->
    <section class="about-section">
      <!-- Text -->
      <div class="about-text">
        <h2>About Our Magazine</h2>
        <p>
          A unique fusion of “English” and “Magazine,” stands as a vibrant
          testament to the voices, creativity and spirit of Gen Z. Its bold “GZ”
          isn’t just a stylistic choice but a declaration of its focus: a
          platform for the new generation to explore, express, and inspire.
          Published biannually as an e magazine by the Department of English
          (Shift II), St. Joseph’s College (Autonomous), Trichy – 02. ENGZINE
          was created with a clear purpose—to nurture and showcase the literary
          and artistic talents blossoming within the student community.
        </p>

        <p>
          Guided by the motto “Sharing Voices, Valuing Efforts,” ENGZINE invites
          students, Alumni, Faculty Members to bring their stories and visions
          to life through a variety of expressive forms. Within its digital
          pages, readers will find thought provoking essays, evocative poetry,
          imaginative short stories, striking paintings, and powerful
          photography etc. Through videography, podcasts, and interviews,
          ENGZINE also captures the pulse of today’s generation in multimedia
          format, offering a dynamic experience for creators and readers alike.
        </p>

        <p>
          This magazine isn’t just a collection of works; it’s a community. A
          space where mainly students can develop their craft as editors,
          proofreaders, and creators, fostering a network of emerging writers
          and artists bound by a passion for storytelling and creativity.
          ENGZINE invites readers to join in this journey, embracing fresh
          perspectives, sparking curiosity, and celebrating the unique, diverse
          voices of the next generation of storytellers.
        </p>
      </div>

      <!-- Image -->
      <div class="about-image">
        <img src="../../img/iss.jpg" alt="English Department" />
      </div>
    </section>
    <div class="columns-section">
      <!-- Poems -->
      <div class="column">
        <div class="container table-responsive py-5">
          <table class="table table-bordered table-hover" id="engzine-table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="2" style="text-align: center">
                  E-MAGAZINE PARTICULARS
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Title</td>
                <td>ENGZINE</td>
              </tr>
              <tr>
                <td>Frequency</td>
                <td>Bi-Annual (November & March)</td>
              </tr>
              <tr>
                <td>ISSN</td>
                <td>3049-1363</td>
              </tr>
              <tr>
                <td>Publisher</td>
                <td>
                  PG & Research Department of English <br />St. Joseph’s College
                  (Autonomous)<br />Trichy – 620002
                </td>
              </tr>
              <tr>
                <td>Chief Editor</td>
                <td>Prasanth Arokia Samy D</td>
              </tr>
              <tr>
                <td>Copyright</td>
                <td>
                  PG & Research Department of English <br />St. Joseph’s College
                  (Autonomous)
                </td>
              </tr>
              <tr>
                <td>Starting Year</td>
                <td>2024</td>
              </tr>
              <tr>
                <td>Language</td>
                <td>English</td>
              </tr>
              <tr>
                <td>Publication Format</td>
                <td>Online</td>
              </tr>
              <tr>
                <td>Mobile No</td>
                <td>9994494858</td>
              </tr>
              <tr>
                <td>Email id</td>
                <td>
                  <a
                    href="mailto:sjcengzine@mail.sjctni.edu"
                    style="color: #403e3b; text-transform: none"
                    >sjcengzine@mail.sjctni.edu</a
                  >
                </td>
              </tr>
              <tr>
                <td>Website</td>
                <td>
                  <a
                    href="https://sjctni.edu/Department/ENGZINE/"
                    style="color: #403e3b; text-transform: none"
                    >https://sjctni.edu/Department/ENGZINE/</a
                  >
                </td>
              </tr>
              <tr>
                <td>Address</td>
                <td>
                  PG & Research Department of English <br />St. Joseph’s College
                  (Autonomous) <br />Trichy – 620002
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- About Section Ends -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="../../js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="../../js/script.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
