<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
    <title>Team | ENGZINE</title>
    <!-- CSS Linking -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section Starts -->

    <header class="header">
      <a href="/index.html" class="logo">
        <img src="/img/logo_new.png" alt="logo" />
      </a>

      <!-- Navbar container -->
      <nav class="navbar" id="navbar">
        <a href="/index.html">home</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">about</a>
          <div class="dropdown-content">
            <a href="/components/about/college.html">college</a>
            <a href="/components/about/department.html">department</a>
            <a href="/components/about/engzine.html">magazine</a>
            <a href="/components/about/team.html">team</a>
          </div>
        </div>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">issues</a>
          <div class="dropdown-content">
            <a href="/components/current_issue.html">current issue</a>
            <a href="/components/archieves.html">archieves</a>
          </div>
        </div>
        <a href="/components/podcast.html">podcast</a>
        <a href="/components/editorial_board.html">Editorial board</a>
        <a href="/components/contact.html">contact</a>
        <a href="/components/feedback.html">feedback</a>
        <div class="dropdown has-dropdown">
          <a href="#" onclick="toggleDropdown(this)">submissions</a>
          <div class="dropdown-content">
            <a href="/components/guidelines.html">guidelines</a>
            <a href="/components/faq.html">faq</a>
            <a href="/components/plagiarism_policy.html">plagiarism policy</a>
            <a href="/components/submissions.html">submit</a>
          </div>
        </div>
      </nav>

      <div class="icons">
        <a href="https://www.youtube.com/@TheEngzine" id="btn-color-join">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://www.instagram.com/the.engzine/?igsh=NmR4aGlzMjVwYXhl#"
          id="btn-color-join"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/The_Engzine?t=ngZ6WdzHZIxyIeOlbRZ-RA&s=09"
          id="btn-color-join"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <!-- Hamburger Menu Icon -->
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>
    </header>

    <div style="margin: 4.5vh">
      <h1 style="color: white">.</h1>
    </div>
    <!-- Header Section Ends -->
    <!-- College Section Starts -->
    <!-- Header Section -->

    <section class="about-section">
      <!-- Text -->
      <div class="about-text">
        <h2>About Our Student Team</h2>
        <p>
          This magazine is the fruit of collective effort put by the editorial
          team, each member bringing their dedication and creative vision to
          every page you're about to explore. ENGZINE showcases the essence of
          campus life, highlighting the diverse voices, stories and insights
          that make up our community.
        </p>
        <p>
          In ENGZINE, we strive to celebrate the uniqueness of campus life,
          capturing moments of inspiration, reflection and camaraderie that
          define the student experience. This magazine is a culmination of
          talent, passion and imagination, highlighting the lively voices and
          ideas that thrive in our department.
        </p>
        <p>
          Every page is inspired with the spirit of discovery, inviting readers
          to immerse themselves in a world where words and images combine to
          convey strong and memorable stories. In this edition, we highlight the
          diversity of college life, drawing on a variety of artistic and
          intellectual activities.
        </p>
      </div>
      <!-- Image -->
      <div class="about-image">
        <img src="/img/team.png" alt="English Department" />
      </div>
    </section>

    <header class="team-header">
      <h1>Meet Our Team</h1>
      <p>
        Behind every great magazine is a great team! Here are the passionate
        individuals who make it all happen.
      </p>
    </header>
    <!-- Team Section -->
    <div class="team-container">
      <!-- Team Member 1 -->
      <div class="team-card">
        <div class="profile-section">
          <img src="/img/95.jpg" alt="Team Member 1" class="profile-pic" />
        </div>
        <div class="info-section">
          <h3 class="team-name">DHANUSH M</h3>
          <p class="team-role">Sub-Editor & Student Incharge</p>
          <p class="team-email">
            <a href="mailto:dhanushm.2016.17@gmail.com"
              >dhanushm.2016.17@gmail.com</a
            >
          </p>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="team-card">
        <div class="profile-section">
          <img src="/img/93.jpg" alt="Team Member 3" class="profile-pic" />
        </div>
        <div class="info-section">
          <h3 class="team-name">MERLINE I</h3>
          <p class="team-role">Sub Editor, Copy Editor & Graphic Designer</p>
          <p class="team-email">
            <a href="mailto:merlineirudayaraj@gmail.com"
              >merlineirudayaraj@gmail.com</a
            >
          </p>
        </div>
      </div>

      <!-- Team Member 3 -->
      <div class="team-card">
        <div class="profile-section">
          <img src="/img/94.jpg" alt="Team Member 4" class="profile-pic" />
        </div>
        <div class="info-section">
          <h3 class="team-name">NEVEENA INFANCIA S</h3>
          <p class="team-role">Sub Editor & Content Editor</p>
          <p class="team-email">
            <a href="mailto:contactneveenainfancia@gmail.com"
              >contactneveenainfancia@gmail.com</a
            >
          </p>
        </div>
      </div>

      <!-- Team Member 4 -->
      <div class="team-card">
        <div class="profile-section">
          <img src="/img/91.jpg" alt="Team Member 5" class="profile-pic" />
        </div>
        <div class="info-section">
          <h3 class="team-name">VIRGINIA VARSHINI G</h3>
          <p class="team-role">Sub Editor & Digital Content Creator</p>
          <p class="team-email">
            <a href="mailto:virginiavarshini@gmail.com"
              >virginiavarshini@gmail.com</a
            >
          </p>
        </div>
      </div>

      <!-- Team Member 5 -->
      <div class="team-card">
        <div class="profile-section">
          <img src="/img/92.jpg" alt="Team Member 2" class="profile-pic" />
        </div>
        <div class="info-section">
          <h3 class="team-name">LEONAPRIYA G</h3>
          <p class="team-role">Event Coordinator</p>
          <p class="team-email">
            <a href="mailto:leonapriya1610@gmail.com"
              >leonapriya1610@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- College Section Ends -->
    <!-- Footer Start -->
    <special-footer></special-footer>
    <script src="/js/footer.js"></script>
    <!-- Footer End -->
    <!-- JS link -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
